<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <!--tutaj mamy od crop-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/imgareaselect-default.css" />
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>
<style>
</style>



    </head>
    <body>

<div class="row" style="height:10%">
            <div class="contain-to-grid">
                <div class="fixed">
                    <ul class="button-group even-3">
                        <a id="head_przeszlosc_button" href="/forum/start_przeszlosc"></a>
                        <a id="head_kolonia_button" href="/kolonia"></a>
                        <a id="head_przyszlosc_button" href="/forum/start_przyszlosc"></a>
                    </ul>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="small-8 small-centered columns" style="text-align:center">
            <h3 class="dark_red"> <%= monit %></h3>

            <a class="tytul" href="/logowanie"> Powrót do logowania </a>
        </div>

    </div>

        <footer id="sentence_bottom"></footer>
    </body>

</html>