<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />

        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <!--tutaj mamy od crop-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/imgareaselect-default.css" />
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>


</head>
<body>
<form action="/multiupload" method="post" enctype="multipart/form-data">
  <input type="file" name="upload" multiple="multiple"><br>
  <input type="submit" value="Upload">
  </form>
 
</body>

</html>