<!DOCTYPE html>
<html class="no-js" lang="en" > 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="stylesheets/layout.css" />
        <link rel="stylesheet" href="stylesheets/slider.css" />
        <script src="javascripts/jquery-2.2.4.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/jquery.slides.min.js"></script>
    </head>
<body>
  <header class="row">
  <div class="col-xs-1">
  </div>
    <div class="col-xs-4">
      <a href="/graostocznie"> <img class="img-responsive" src="/images/icons/gra-o-stocznie-logotyp-hover.png" alt="Gra o stocznie"/> </a>
    </div>
    <div class="col-xs-2">
      <div class="graostocznie-logo-header">
        <img class="img-responsive" src="/images/icons/gos-logo.png" alt="Gra o stocznie"/>
      </div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/images/icons/hanza-logo.png" alt="Gra o stocznie"/>
    </div>
    <div class="col-xs-1">
  </div>
  </header>

  <section>
    <div class="row">
    <div class="col-xs-4">
      <span> <img class="add-post-header-icon" src="/images/icons/close.png" /> </span>
      <span> <img class="add-post-header-icon" src="/images/icons/share.png" /> </span>
      <span> <img class="add-post-header-icon" src="/images/icons/add-photo.png" /> </span>
      <span> <img class="add-post-header-icon" src="/images/icons/add-film.png" /> </span>
    </div>
    </div>
    <div class="row margin-top-5">
      <div class="col-xs-11 offset-half">
        <div class="row">
          <div class="col-xs-1">
            <img class="user-avatar-forum img-responsive" src="/images/icons/close.png" />
          </div>
          <div class="col-xs-7 posts-write-title">
          <textarea class="posts-title-textarea transparent-textarea" placeholder="TUTAJ NALEŻY WPISAĆ TREŚĆ POSTULATU, TYTUŁ, GŁÓWNE HASŁO! MASZ DO DYSPOZYCJI 250 ZNAKÓW..."></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9 col-xs-offset-1 posts-write-message">
          </div>
        </div>
      </div>


    </div> 
  </section>

  <footer class="text-center footer">
    <img class="line-footer" class="img-responsive" src="/images/layout/line_above_icons.png" />
    <div class="row">
        <span>
          <img class="footer-icon-bar" src="/images/icons/to-head.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/home.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/logout.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/user.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/kolonia.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/mailbox.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/admin.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/rules.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/write-pos.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/info.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/gallery.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/partners.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/to-down.png" />
        </span>
      </div>
  </footer>

</body>
<script>
    $(document).ready(function() {
       $(".footer-icon-bar").hover(
        function() {
          var path = $(this).attr('src').split(".")[0] + "-hover.png";
          $(this).attr('src', path);
       },
       function() {
        var path = $(this).attr('src').replace("-hover", "");
        $(this).attr('src', path);
       }); 
    });
    
</script>

</html>
