<!DOCTYPE html>
<html class="no-js" lang="en" > 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="stylesheets/layout.css" />
        <link rel="stylesheet" href="stylesheets/slider.css" />
        <script src="javascripts/jquery-2.2.4.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/jquery.slides.min.js"></script>
        <script>
          function backPage() {
            window.history.back();
          } 
        </script>
    </head>
<body>
  <header class="row">
  <div class="col-xs-1">
  </div>
    <div class="col-xs-4">
      <a href="/postulaty"> <img class="img-responsive" src="/images/icons/gra-o-stocznie-logotyp-hover.png" alt="Gra o stocznie"/> </a>
    </div>
    <div class="col-xs-2">
      <div class="graostocznie-logo-header">
        <img class="img-responsive" src="/images/icons/gos-logo.png" alt="Gra o stocznie"/>
      </div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/images/icons/hanza-logo.png" alt="Gra o stocznie"/>
    </div>
    <div class="col-xs-1">
  </div>
  </header>

  <section>
    <form enctype="multipart/form-data" method="POST" id="add-post-form" action="/publikuj_postulat">
      <div class="row">
        <div class="col-xs-4">
          <span>
              <img class="add-post-header-icon" src="/images/icons/close.png" onclick="backPage()" />
          </span>
          <span>
            <button class="add-post-header-icon" form="add-post-form">
              <img src="/images/icons/share.png" />
            </button>
          </span>
          <span> <label for="add-photo-input" id="add-photo-label"> <img class="add-post-header-icon" src="/images/icons/add-photo.png" /> </label> </span>
          <input form="add-post-form" name="posts_photo" type="file" id="add-photo-input" multiple />
          <span> <img class="add-post-header-icon" src="/images/icons/add-film.png" /> </span>
        </div>
      </div>
      <div class="row margin-top-5">
        <div class="col-xs-11 offset-half">
          <div class="row">
            <div class="col-xs-1">
              <img class="user-avatar-forum img-responsive" src="/images/icons/close.png" />
            </div>
            <div class="col-xs-7 posts-write-title">
            <textarea name="title" class="posts-title-textarea transparent-textarea" placeholder="TUTAJ NALEŻY WPISAĆ TREŚĆ POSTULATU, TYTUŁ, GŁÓWNE HASŁO! MASZ DO DYSPOZYCJI 250 ZNAKÓW..." form="add-post-form"></textarea>
            </div>
          </div>
          <input type="hidden" name="posts_id" value="1" />
          <div class="row">
            <div class="col-xs-9 col-xs-offset-1 posts-write-message">
              <textarea name="message" class="posts-title-textarea transparent-textarea" placeholder="TUTAJ NALEŻY WPISAĆ TREŚĆ POSTULATU, TYTUŁ, GŁÓWNE HASŁO! MASZ DO DYSPOZYCJI 250 ZNAKÓW..." form="add-post-form"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form> 
  </section>

 <footer class="text-center footer">
    <img class="line-footer" class="img-responsive" src="/images/layout/line_above_icons.png" />
    <div class="row">
        <span data-toggle="tooltip" title="Na górę">
          <img class="icon footer-icon-bar" src="/images/icons/to-head.png" />
        </span>
        <span data-toggle="tooltip" title="Strona główna">
          <a href="/"> <img class="icon footer-icon-bar" src="/images/icons/home.png" /> </a>
        </span>
        <span data-toggle="tooltip" title="Wyloguj">
          <img class="icon footer-icon-bar" src="/images/icons/logout.png" />
        </span>
        <span data-toggle="tooltip" title="Użytkownik">
          <img class="icon footer-icon-bar" src="/images/icons/user.png" />
        </span>
        <span data-toggle="tooltip" title="Kolonia">
          <img class="icon footer-icon-bar" src="/images/icons/kolonia.png" />
        </span>
        <span data-toggle="tooltip" title="Skrzynka odbiorcza">
          <img class="icon footer-icon-bar" src="/images/icons/mailbox.png" />
        </span>
        <span data-toggle="tooltip" title="Kontakt do admina">
          <img class="icon footer-icon-bar" src="/images/icons/admin.png" />
        </span>
        <span data-toggle="tooltip" title="Reguły gry">
          <img class="icon footer-icon-bar" src="/images/icons/rules.png" />
        </span>
        <span data-toggle="tooltip" title="Napisz postulat">
          <a href="/dodaj_postulat"> <img class="icon footer-icon-bar" src="/images/icons/write-pos.png" /> </a>
        </span>
        <span data-toggle="tooltip" title="Informacje o grze">
          <img class="icon footer-icon-bar" src="/images/icons/info.png" />
        </span>
        <span data-toggle="tooltip" title="Galeria">
          <img class="icon footer-icon-bar" src="/images/icons/gallery.png" />
        </span>
        <span data-toggle="tooltip" title="Partnerzy">
          <img class="icon footer-icon-bar" src="/images/icons/partners.png" />
        </span>
        <span data-toggle="tooltip" title="W dół">
          <img class="icon footer-icon-bar" src="/images/icons/to-down.png" />
        </span>
      </div>
  </footer>

</body>
<script>
    $(document).ready(function() {
       $(".footer-icon-bar").hover(
        function() {
          var path = $(this).attr('src').split(".")[0] + "-hover.png";
          $(this).attr('src', path);
       },
       function() {
        var path = $(this).attr('src').replace("-hover", "");
        $(this).attr('src', path);
       });
    });
    
</script>

</html>
