<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title> <%= title %> </title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery-1.11.1.js"></script>    
        <script src='/javascripts/funkcje_ajax.js'></script>
        <script src='/javascripts/jquery.rwdImageMaps.min.js'></script>
        <script src='/javascripts/jquery.smoothZoom.min.js'></script>
        <script src="/javascripts/jquery.maphilight.min.js"></script>
        <script src="/javascripts/autolink.js"></script>
        <style>
        p, span,label,a{
  font-family: 'stocznia_users', Helvetica ;
      letter-spacing: 2px;
}

        .icon{
          max-width: 15%;
          
        }
                .icon1{
          max-width: 20px; 
          position:inline;
          float:right;
        }
        .select-style {
    padding: 0;
    margin: 0;
    border: none;
   
   max-width:40%;
   min-width:40%;

    border-radius: 4px;
    overflow: hidden;
    background-color: #c9c9c9;
       border-style: solid;
    border-width: medium;

    background: #c9c9c9 ;
}

.select-style select {
    
   width:130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
        
            img.display {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            p{
                color: black;
            }
            span{
                color: black;
            }



          html body{
              width: 100%;
              height: 100%;
              font-size: 100%;
              margin:0;
          }
          .smooth_zoom_preloader {
              background-image: url("/zoom_assets/preloader.gif");
          }   
          .smooth_zoom_icons {
              background-image: url("/images/layout_addons/dislike.png");
          }
          #int{
              background: url("/images/map/123.png");
              background-size: 100% 100%;
              background-repeat: no-repeat;
          }
          $( "div.enterleave" )
          .mouseenter(function() {
          $( this ).find( "span" ).text( "mouse enter x " + n );
          })
          .mouseleave(function() {
          $( this ).find( "span" ).text( "mouse leave" );
          });

          #winietka_area{
            background: red;
          }

          .wybierz{
             cursor: pointer; cursor: hand;
                                      background: transparent; 
                                      background-image: url('/images/layout/wybierzplik.png');
  background-size: 100% !important;
  background-repeat: no-repeat;
  width: 140px !important;
  height: 50px !important;
  border:none !important;
  color:transparent !important;
   size:6;
                                    }

                                    .submit{
                                      background: transparent; 
                                      background-image: url('/images/layout/publikuj.png');
  background-size: 100%;
  width: 140px !important;
  height: 50px;
  border:none;
  color:transparent;
   
                                    }
                                    .submit:hover{
                                      background: transparent; 
                                      background-image: url('/images/layout/publikuj.png');
  background-size: 100%;
  width: 140px !important;
  height: 50px;
  border:none;
  color:transparent;
   
                                    }
input[type="file" i]::-webkit-file-upload-button {
  -webkit-appearance:textfield;
  white-space: none;
  margin: 0px;
  font-size: inherit;
  -webkit-user-modify: read-write ;
}                                   
input,  input[type="password" i],  input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: none;
  border: none;
  border-top-color: none;
  border-top-style: none;
  border-top-width: none;
  border-right-color: none;
  border-right-style: none;
  border-right-width: none;
  border-bottom-color: none;
  border-bottom-style:none;
  border-bottom-width: none;
  border-left-color: none;
  border-left-style: none;
  border-left-width: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  -webkit-rtl-ordering: none;
  -webkit-user-select: none;
  cursor: auto;
}
input[type="button" i], input[type="submit" i],  input[type="reset" i], input[type="file" i]::-webkit-file-upload-button,  button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: none;
  border-top-color: none;
  border-top-style: none;
  border-top-width: none;
  border-right-color: none;
  border-right-style: none;
  border-right-width: none;
  border-bottom-color: none;
  border-bottom-style: none;
  border-bottom-width: none;
  border-left-color: none;
  border-left-style: none;
  border-left-width: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  background-color:none;
  box-sizing: border-box;
}


.wybierz::-webkit-file-upload-button {
  visibility: hidden;
}
.wybierz::before {
  content: 'Select some files';
  display:none;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.wybierz:hover::before {
  border-color: black;
}
.wybierz:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

label {
  display:block;
   cursor: pointer; cursor: hand;
                                      background: transparent; 
                                      background-image: url('/images/layout/wybierzplik.png');
  background-size: 100% !important;
  background-repeat: no-repeat;
  width: 140px !important;
  height: 50px !important;
  border:none !important;
  color:transparent !important;
}

label input {
  -moz-opacity:0;
  filter:alpha(opacity: 0);
  opacity:0;
  cursor:pointer;
}

      </style>
      <script> 


        $(document).ready(function(e) {


          $('#winietka').rwdImageMaps();
        });

        function myAwesomeFunc(){
        var sorttiger=0;  

        $("#dodaj_komentarz").hide();
          $('.hiden').each(function(){
            $("div .hiden").hide();
           
        });
         $('.hidenlevel').each(function(){
        $("div .hidenlevel").hide();
        });
         $('#sortuj').each(function(){
         if(sorttiger===0){
         $('#sotruj').hide();
        }
        });
        $("#sortuj1").click("click", function() {
         $('#sotruj1').hide();
            sorttiger=1;
            $("#sortuj").show();
         
        });
        $("#sortuj").click("click", function() {
            $('#sotruj').hide();
            sorttiger=0;
            $("#sortuj1").show();
        });
        $(".klasa").click("click", function() {
                var klasa = "";
                var identyfikator = "";
                
                if ($(this).attr("class") != null) {
                    klasa = $(this).attr("class");
                }
                
                if ($(this).attr("id") != null) {
                    identyfikator = $(this).attr("id");
                    $('#a'+identyfikator).toggle();
                    //alert($(this).text() + " " + klasa + identyfikator);
                }
                
            });
        var tiger=0;
        $(".ukryj_dodaj_komentarz").click("click", function() {$("#dodaj_komentarz").toggle();});
        $(".klasa1").click("click", function() {
                var klasa = "";
                var identyfikator = "";
                
                if ($(this).attr("class") != null) {
                    klasa = $(this).attr("class");
                }
                
                if ($(this).attr("id") != null) {
                    identyfikator = $(this).attr("id");
                    $('div #p'+identyfikator).each(function(){
                      if( tiger===0){
                       $('div #p'+identyfikator).show();
                       
                       }else{if( tiger===1){
                        $('div #p'+identyfikator).hide();
                       }
                       }
                    });
                    if(tiger===0){tiger=1;}else{tiger=0;}
                    
        ;
                
                }
                
            });
       

       $(".zoom").click(function() {

 $(".noSel").css("width","95vw");

 
  $(".noSel").css("height","60vh");

/*  $(".smooth_zoom_preloader").css("height","80vh");
  $("#map").css("width","95vw !important");
    $("#map").css("height","80vh !important");*/
   /* $("#map").css("transform","translate(0px, 0px) scale(0.5)");*/
       $('#map').smoothZoom({
                width: $(window).width()/1.5,
                height: $(window).height()/0.8,
                 initial_ZOOM: 490,
                initial_POSITION : '1000 200',
                zoom_MIN: 30});
     $("#map").css("z-index","1000");
          
});


        }



       window.onload = myAwesomeFunc;

        //miejsce na mape
        jQuery(function($){
            $('#map').smoothZoom({
                width: $(window).width()/1.5,
                height: $(window).height()/1.5,
                zoom_BUTTONS_SHOW: 'NO',
                zoom_CLICK: 'NO',
                pan_BUTTONS_SHOW: 'NO',
                responsive: true,
                initial_ZOOM: 30,
                initial_POSITION : '100 0',
                zoom_MIN: 24,
                background_COLOR: 'transparent',
                mouse_DOUBLE_CLICK: false,
                zoom_OUT_TO_FIT: true,
            });

            $('#winietka').css("width",$(window).width());
            $('#winietka').css("height","auto");

                
        });




        function zoom_in(){
            $('#map').smoothZoom('zoomIn');
            $('#line').smoothZoom('zoomIn');
        }
        function zoom_out(){
            $('#map').smoothZoom('zoomOut');
            $('#line').smoothZoom('zoomOut');
        }


        $(document).ready(function(){


            var scale;

            $('.mapping').mouseover(function() {
                $("#test_div").css("display", "block");
            }).mouseout(function(){
                $("#test_div").css("display", "none");     
            });

            if($(window).height()/$(window).width() > 1){
                scale = 2540/($(window).width()/2);

            }
            else{
                scale = 1796/($(window).height()/2);
            }

            $(".show_zoom").click(function(){
                $('#zoom_ratio').html("Skala: 1:"+Math.round((scale*10000)/($('#map').smoothZoom('getZoomData').ratio+1)));
            });

            $('#zoom_ratio').html("Skala: 1:"+Math.round((scale*10000)/1.17));

        });

      </script>   
    </head>
    <body>     
      <div class="row" style="margin-bottom: 5%">
          <div class="contain-to-grid">
              <div class="fixed">
                  <ul class="button-group even-3">
                    <% if(strona=="przeszlosc"||strona=="mapa_przeszlosc" || strona=="start_przeszlosc"){%>      
                      <a id="head_przeszlosc_button1" href="/forum/start_przeszlosc"></a>
                      <a id="head_kolonia_button" href="/kolonia"></a>
                      <a id="head_przyszlosc_button" href="/forum/start_przyszlosc"></a>  
                       <%}%>
                    <% if(strona=="przyszlosc"||strona=="mapa_przyszlosc" || strona=="start_przyszlosc"){%>      
                      <a id="head_przeszlosc_button" href="/forum/start_przeszlosc"></a>
                      <a id="head_kolonia_button" href="/kolonia"></a>
                      <a id="head_przyszlosc_button1" href="/forum/start_przyszlosc"></a>  
                       <%}%>
                  </ul>
              </div>
          </div>
      </div>
      </br>
      </br>
      </br>

      <div class='row' style="height: 100%;margin-bottom: 15%">
          <!--lewy górny-->
      <%if(strona==="start_przeszlosc"){%>
        <div class="large-12 small-12 columns">
            <a class="forum_options dark_red" href="/forum/przeszlosc" > LISTA POSTULATÓW &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a> <em class="forum_options black"> CO zachować (i dlaczego)?</em>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br>  
            <a class="forum_options dark_red" href="/forum/mapa_przeszlosc">  PRZESTRZEŃ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a> <em class="forum_options black">CO wiemy o każdym miejscu w Stoczni? </em>
        </div>
      <%}
      else if(strona==="start_przyszlosc"){%>
        <div class="large-12 small-12 columns">
          <div style="float: right;  text-align: right;">
            <a class="forum_options dark_red" href="/forum/przyszlosc">LISTA POSTULATÓW &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <em class="forum_options black">JAK zachować (i po co)??</em>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br>  
            <a class="forum_options dark_red" href="/forum/mapa_przyszlosc">  PRZESTRZEŃ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a> <em class="forum_options black">JAK przekształcać miejsca w Stoczni, zachowując ich historie? </em>
          </div>
        </div>
      <%}
      else if(strona==="mapa_przeszlosc"||strona==="mapa_przyszlosc"){%> 
      <div class="large-6 small-12 columns">
            <div class="row">
                <div class="large-12 small-12 columns">
                  <%if(strona==="mapa_przeszlosc"){%> 
                  <h4 class="black przestrzen_opis" style="font-family: 'stocznia_body', Helvetica, sans-serif;text-align: center;display:inline-block; width:90%"> PRZESTRZEŃ  &nbsp;&nbsp; CO wiemy o każdym miejscu w Stoczni?</h4><img class="zoom" src="/images/zoom.png" style="width:10%; height:10%; display:inline-block" /><%}else{%><h4 class="black przestrzen_opis" style="font-family: 'stocznia_body', Helvetica, sans-serif;text-align: center;display:inline-block; width:90%"> PRZESTRZEŃ  &nbsp;&nbsp; JAK przekształcać miejsca w Stoczni, zachowując ich historie?</h4><img class="zoom" src="/images/zoom.png" style="width:10%; height:10%; display:inline-block" /><%}%>
                    <img id="map" src="/images/map/123.png" style="z-index:0;" usemap="#planetmap"/>   
                    <% if(postulaty2.length ){  %>
                  <img id="winietka" style="max-width:100%" src="/images/metryczki/winietka_<%= postulaty2[0].tytul %>.jpg" usemap="#winietka_map" />
                  <%}%>
              </div>
       
            </div>
            <!-- tutaj include mapy -->     
        </div>
      <%}
      else{%>
      <!-- lista postulatów -->
         <div class='large-6 small-12 columns' style="overflow-y: scroll;   min-height: 80vh;" id="lista_postulatow">
                <div class="row">
                    <div class="large-8 small-8 columns"><h3 style="font-family: 'stocznia_body', Helvetica, sans-serif;color: black;"> NASZE POSTULATY </h3>
                    <h5 style="font-family: 'stocznia_body', Helvetica, sans-serif;color: black;"> CO zachować (i dlaczego)? </h5> <br /></div>
                    <div class="large-4 small-4 columns" style="padding:0"> <br><button style="background: url('/images/layout_addons/dodaj_postulat.png');background-size: 100% 100%; width: 13rem;height: 1.5rem; border: none;margin: 0;position: absolute;top:0;right: 0" class="napisz_postulat_btn"></button>  </div>
                </div>
                <div id="tablica_postulatow" style="height: auto%; overflow-y: auto">
                    <div class="row" id="wykujPostulat"  style="width: 100%"> 
                        <div class="large-10 columns">
                            <div style="width: 100%">
                              <form method="post" action="/multiupload" enctype="multipart/form-data" class="dodawaniePostow" style="margin: 2% 0 0 2%">
                                    <input type="hidden" name="strona" value="<%=strona%>" />
                         
                                     <img style="padding: 0;float: right ;margin-bottom:10px" class="napisz_postulat_btn" type="button" src="/images/cancel_32.png"/>
                                    <input type='text'  value="Należy zachować" name='tytul' style="text-transform: uppercase; display: inline-block"/>
                                    <textarea name="tresc" cols="10" rows="10"  placeholder="DLACZEGO?" style="text-transform: uppercase;"></textarea>
                                    <label style="display:inline-block;vertical-align:middle">
                                      <input type="file" class="wybierz" name="upload" multiple="multiple" /><br>
                                    </label>
                                    <input class="submit" style="display:inline-block; float:right;;vertical-align:middle" type='submit' /> 
                                     <p> Klikając "Publikuj" akceptujesz <a href="/reguly">zasady Gry o Stocznię </a> </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%">
                        <div class="large-12 small-12 columns">
                            <% if(postulaty.length){ 
                                      
                              for(var i = postulaty.length-1;i >=0;i--) { %>
                              <%if(postulaty[i].id==capfile){%>
                              <p class="postulat"  style="position:inline float:left width:80%;color: #800000;"> <%= postulaty[i].tytul%> &nbsp;&nbsp;&nbsp;<%= postulaty[i].suma_punktow_post%> <img class="icon" src="/images/layout_addons/gra o stocznie_vectorized.png" style="max-width: 5%" /> </p>
                                    
                                <%}else{%>
 
                                    <p class="naglowek_postu"  style="position:inline float:left width:80%"> <a href="/forum/<%=strona%>/<%=postulaty[i].id%>" class="postulat black"> <%= postulaty[i].tytul%> &nbsp;&nbsp;&nbsp;<%= postulaty[i].suma_punktow_post%> <img class="icon" src="/images/layout_addons/gra o stocznie_vectorized.png" style="max-width: 5%" />  </a></p>
                                <%}%>
                                 
                                <% } %>
                        
                            <% } %>
                        </div>

                    </div>
               </div>

             </div>

          <%}%>
          <div class="large-6 small-12 columns" style="height: auto;margin-bottom: 8%;">
                <% if(postulaty2.length){  %>
                  <!--tresc głowna postulatu-->
                  <%if(strona==="mapa_przeszlosc"||strona==="mapa_przyszlosc"){%>
                    <h3 class="tytul white" style="color:#800000; text-align: left ; font-size:60px" id="tytul_postu"> <%= postulaty2[0].tytul %> &nbsp;&nbsp;&nbsp; <em style="color:#800000; text-align: center ; font-size:60px;font-style:normal" class="tytul"> DYSKUSJA </em> </h3>
                  <%}else{ %>
                    <h3  class="tytul white" style="color:#800000" id="tytul_postu"> <%= postulaty2[0].tytul %> </h3>
                    <h4 class="tresc_postu tytul black"> <%= postulaty2[0].tresc %> </h4> </p>
                 
                   <!-- załączniki do postulatu -->
                    <% if(postulaty1.length){
                          for(var i = postulaty1.length-1;i >=0;i--) { %>
                              <%if( postulaty1[i].rozszerzenie==="jpg"||postulaty1[i].rozszerzenie==="png"||postulaty1[i].rozszerzenie==="JPG"||postulaty1[i].rozszerzenie==="PNG" ){%>
                               <img class="display" src="<%=postulaty1[i].pathfile%>" width="90%" height="auto" alt="Błąd" style="margin-bottom: 5%" />
                              <%}else{ %>
                              <p class="zalaczniki"> <a href="<%=postulaty1[i].pathfile%>"> <%=postulaty1[i].name_pic%></a></p><%}%>
                            
                          <% } %>
                      <% } %> 
                    <div class="row"  style="height:40px">
                        <a href="/kolonisci/<%=postulaty2[0].nick%>"   style="display: inline; margin-left: 5%" > 
                          <img  style="width:40px; height:40px;display: inline" src="<%=postulaty2[0].profilowe%>" class="display" width="10%" heigth="auto" alt="brak zdjęcia" />

                          <p style="display: inline; margin-left: 5%;font-size: 1.2rem" class="users black" id="tworca_postu"><%= postulaty2[0].imie %> <%= postulaty2[0].nazwisko %> <span style="margin-left: 10%"><%=postulaty2[0].czas_dodania%></span></p>

                        </a>        
                      
                          <button  style="display: inline; margin-left: 5%"  class="ukryj_dodaj_komentarz" > .</button>
                   <!--   </div>-->
                    </div> 
                    <div class="row" style="text-align: center; border-bottom:1px solid black;">
                      <div class="large-12 small-12 columns">
                          <p style="font-size: 1.8rem;display: inline;position:absolute;color:#800000">  <%=comments_count[0].ilosc %></p>
                          <img class="icon" src="/images/layout_addons/victoria klawiatura_vectorized.png" style="display: inline ;   margin-right: 2%;"></img>
                          <p style="font-size: 1.8rem;position:absolute;display: inline;margin-left:3%;color:black"><%=comments_count[1].ilosc%> </p>
                          <img class="icon" src="/images/layout_addons/kciuk klawiatura_vectorized.png" style="display: inline;  margin-right: 2%;"></img>
                          

                          <p style="display: inline"><span style="  color: #800000;font-size:1.8rem;position:absolute;"> <%=vote_up_count%></span> </p>
                          <form style="display:inline;  color: #800000;" action="/vote_up/<%=capfile%>/post/<%=capfile%>/<%=strona%>" method="post">  <button class="vote" id="vote_up" ></button> </form>

                          <p style="display: inline"><span style="color:black;font-size:1.8rem;position:absolute;"> <%=vote_down_count%> </span></p>
                          <form style="display: inline; color: white" action="/vote_down/<%=capfile%>/post/<%=capfile%>/<%=strona%>" method="post"> <button class="vote" id="vote_down"></button></form>

                          <p style="font-size: 1.8rem;display: inline;margin-left:3%;color:#800000"><%=(vote_up_count-vote_down_count)+(comments_count[0].ilosc-comments_count[1].ilosc)*5%> </p>
                           <img class="icon" src="/images/layout_addons/gra o stocznie_vectorized.png" style="display: inline; max-width:8%"></img>
                      </div>
                     <!--zalaczniki do golownego postulatu--> 
                  </div>
                <% } %> 
                <div class="row" id="dodaj_komentarz" style="width: 100%;margin-bottom: 5%">
                    <div class="large-12 small-12 columns">
                      <img class ="ukryj_dodaj_komentarz"style="padding: 0;border:none;background: none;color: black ;float:right;  width: 40px!important;  min-width: 40px; max-width: 40px!important;margin-bottom:10px"  type="button" src="/images/cancel_32.png"/>
                      
                      <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow" style="margin: 2% 0 0 2%">
                          <input type="hidden" name="licznik" value="-1"/>
                          <input type="hidden" name="ukryte" value="<%=capfile%>" />
                          <input type="hidden" name="strona" value="<%=strona%>" />
                          <textarea class="comment_text" name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
                          <div class="row">
                              <div class="large-12 small-12 columns">
                                  <p style="text-align: center;color: #800000"> Zaznacz proszę, czy jest to komentarz pozytywny, czy negatywny </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="large-4 small-6 columns">
                                  <input style="display: inline" type="radio" name="comment_type" value="1" checked="checked" /> <span> <img src="/images/layout_addons/like.png" style="max-width: 40%"/> </span>
                              </div>
                              <div class="large-4 small-6 columns">
                                  <input style="display: inline" type="radio" name="comment_type" value="-1"/> <span> <img src="/images/layout_addons/dislike.png" style="max-width: 40%"/> </span> </br>
                              </div>
                              <div class="large-4 small-12 columns">
                                <label>
                                  <input type="file" class="wybierz"  name="upload" multiple="multiple">
                                </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="large-12 small-12 columns" style="text-align: center">
                                  <button class="submit" style="margin: 3% 0 3% 0"> Publikuj </button> </br>
                                  <p> Klikając "Publikuj" akceptujesz <a href="/reguly">zasady Gry o Stocznię </a> </p>
                              </div> 
                          </div>
                      </form>
                    </div>
                  </div>
                  <!--tresc pierwszych komentarzy--> 
                  <%if(postulaty3.length){
                    for(var i=postulaty3.length-1;i>=0;i--){ %>
                    <% if(postulaty3[i].id_parent===null){%>
                    
                    <%if(idcookies==321){%>
                    <a href="/delete/<%=postulaty3[i].IdKomentarzu%>"><img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" />  <p></p></a>
                    <%}
                    else{%>
                    <form action="/send/<%=strona%>/<%=capfile%>/<%=postulaty3[i].IdKomentarzu%>" class="test_form" style=" float:right " method="post"> <input type="hidden" name="delete_message" class="message" value=""/><button class="postulat white" style="border:none; background: none; margin:0;padding: 0"><img class="icon" src="/images/layout_addons/smietniczek_vectorized.png" ></button></form>
                    <!--
                   <a href="/send/<%=postulaty3[i].id%>" class="postulat black"> <img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" >   <span style="color:white"><span> </img></a>-->
                    <%}%>
                    
                    <p class="tresc_postu tytul black" style="text-align: left"> <%= postulaty3[i].tresc %> </p>
                     <!--zalaczniki do pierwszych komentarzy --> 
                        <% if(postulaty4.length){
                            for(var j = postulaty4.length-1;j >=0;j--) { %>
                                <%if( postulaty4[j].idpost_kom === postulaty3[i].IdKomentarzu){%>
                                    <%if( postulaty4[j].rozszerzenie==="jpg"||postulaty4[j].rozszerzenie==="png"||postulaty4[j].rozszerzenie==="JPG"||postulaty4[j].rozszerzenie==="PNG"){%>
                                        <img src="<%=postulaty4[j].pathfile_kom%>"   class="display"  width="90%" heigth="auto" alt="Błąd" style="margin-bottom: 5%;"/>
                                    <%}else{ %>
                                        <p class="zalaczniki"> <a href="<%=postulaty4[j].pathfile_kom%>"> <%=postulaty4[j].name_pic%></a></p><%}%>
                                    <%}%>
                            
                                <% } %>
                        <% } %> 
                        <div class="row"  style="height:55px;background-color:rgba(255,255,255,0.5)">
                          <div class="large-1 small-1 columns" style="">
                             <a class="klasa1 iloscpodkom" style="color:black;vertical-align:middle;  padding-left: 10px;top: 9px;" id="<%=postulaty3[i].IdKomentarzu%>"><%=postulaty3[i].ilosc_podkomentarzy%>
                              <img style="  width: 30px;" src="/images/ilosc.png" /></a>
                          </div>
                          <div class="large-5 small-5 columns " style=" float: left;">
                            <div style="float:left;vertical-align:middle">
                              <a href="/kolonisci/<%=postulaty3[i].nick%>"style="margin-left: 3%" > 
                              <img style="display: inline" src="<%=postulaty3[i].profilowe%>" class="display" width="40px" heigth="auto" alt="brak zdjęcia" /></a>

                            </div>
                              <a href="/kolonisci/<%=postulaty3[i].nick%>"style="margin-left: 3%" > 
                              <p style="display: inline;vertical-align:middle" class="users black" id="tworca_postu"><%= postulaty3[i].imie %> <%= postulaty3[i].nazwisko %> 
                                </p></a>
                          </div>
                        <!--przyciski pierwszego poziomu-->
                          <div class="large-1  small-1 columns"  >
                            <span style="color:#800000;font-size:1.6rem"> <%=postulaty3[i].ilosc_like%></span>
                            <form style="display:inline;color: white" action="/vote_up/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>/<%=strona%>" method="post"><button class="vote" style="margin-bottom:0px"  id="vote_up_kom1" ></button> </form>
                          </div>
                          <div class="large-1 small-1 columns" >
                            <span style="color:black;font-size:1.6rem"><%= postulaty3[i].ilosc_dislike %></span>
                            <form style="display: inline; color: white" action="/vote_down/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>/<%=strona%>" method="post"> <button class="vote"  style="margin-bottom:0px" id="vote_down_kom1"></button></form>
                          </div>
                          <div class="large-4 small-4 columns" >
                            <button class="klasa ukryj_dodaj_komentarz_przycisk_w_menu" style="min-width:30%;  margin-bottom: 0px;float: right;margin-right: 10px;;" id="<%=postulaty3[i].IdKomentarzu%>"> . .   .  . </button><p style="margin-right:5%;margin-bottom:0px;vertical-align:middle ;float:right"> z dnia <%=postulaty3[i].czas_dodania_kom%></p>
                          </div>
                        </div>
                      <!--formularz odpowiedz do pierwszego poziomu-->
                      <div class="hiden" id="a<%=postulaty3[i].IdKomentarzu%>"  style="width: 100%">
                          <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow"  style="margin: 2% 0 0 2%">
                              <input type="hidden" name="ukryte" value="<%=capfile%>" />
                              <input type="hidden" name="strona" value="<%=strona%>" />
                              <input type="hidden" name="ukryteID" value="<%=postulaty3[i].IdKomentarzu%>" />
                              <input type="hidden" name="licznik" value="<%=postulaty3[i].ilosc_podkomentarzy%>">

                              <textarea class="comment_text" name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
                              <div class="row">
                                  <div class="large-12 small-12 columns">
                                      <p style="text-align: center; color: #800000"> Zaznacz proszę, czy jest to komentarz pozytywny, czy negatywny </p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="large-4 small-6 columns">
                                      <input style="display: inline" type="radio" name="comment_type" value="1" checked="checked" /> <span> Pozytywny </span>
                                  </div>
                                  <div class="large-4 small-6 columns">
                                      <input style="display: inline" type="radio" name="comment_type" value="-1"/> <span> Negatywny </span> </br>
                                  </div>
                                  <div class="large-4 small-12 columns">
                                    <label>
                                      <input type="file" class="wybierz"  name="upload" multiple="multiple">
                                    </label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="large-12 small-12 columns" style="text-align: center">
                                      <button  class="submit" style="margin: 3% 0 3% 0"> Publikuj </button> </br>
                                      <p> Klikając "Publikuj" akceptujesz <a href="/reguly">zasady Gry o Stocznię </a> </p>
                                  </div> 
                              </div>
                          </form>
                      </div>

                      <!-- DRUGI POZIOM-->

                      <% for (var j=postulaty3.length-1;j>=0;j--){%>
                        <%if(postulaty3[j].id_parent=== postulaty3[i].IdKomentarzu){ %> 
                          <div class="hidenlevel" id="p<%=postulaty3[j].id_parent%>" style="border-top-style: solid; border-top-color: black;padding-bottom: 0%">
                              <%if(321==idcookies){%>
                                <a href="/delete/<%=postulaty3[j].IdKomentarzu%>"><img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" ><p></p></img></a>
                                <%}
                              else{%>
                                <form action="/delete/<%=postulaty[i].id%>" class="test_form" style=" float:right " method="post"> <input type="hidden" name="delete_message" class="message" value=""/><button class="postulat white" style="border:none; background: none; margin:0;padding: 0"><img class="icon" src="/images/layout_addons/smietniczek_vectorized.png" ></button></form>
                              <%}%>
                         
                              
                              <p class="tresc_postu tytul black"> <%= postulaty3[j].tresc %> </p>
                              <% if(postulaty4.length){
                                  for(var h = postulaty4.length-1;h >=0;h--) { %>
                                      <%if( postulaty4[h].idpost_kom === postulaty3[j].IdKomentarzu){%>
                                        
                                       <%if( postulaty4[h].rozszerzenie==="jpg"||postulaty4[h].rozszerzenie==="png"|| postulaty4[h].rozszerzenie==="JPG"||postulaty4[h].rozszerzenie==="PNG" ){%>
                                          <img src="<%=postulaty4[h].pathfile_kom%>" class="display"    width="100%" heigth="auto" alt="Błąd" />
                                      <%}else{ %>
                                       <p class="zalaczniki" style="left:20px"> <a href="<%=postulaty4[h].pathfile_kom%>"> <%=postulaty4[h].name_pic%></a></p><%}%>
                                      <%}%>
                                  <% } %>
                              <%}%> 
                              <a href="/kolonisci/<%=postulaty3[j].nick%>" > 
                                <img style="display: inline" src="<%=postulaty3[j].profilowe%>" class="display" width="10%" heigth="auto" alt="brak zdjęcia" />
                                <p style="display: inline" class="users black" id="tworca_postu"><%= postulaty3[j].imie %> <%= postulaty3[j].nazwisko %> <span style="margin-left: 10%"> <%=postulaty3[j].czas_dodania_kom%></span></p></a>
                                <div style="float:right ">
                                  <span style="color:black"><%=postulaty3[j].ilosc_like%></span><form style="display:inline;color: white" action="/vote_up/<%=postulaty3[j].IdKomentarzu%>/kom/<%=capfile%>/<%=strona%>" method="post"><button class="vote" id="vote_up_kom" ></button> </form>
                                  <span style="color:#800000"><%= postulaty3[j].ilosc_dislike %></span><form style="display: inline; color: white" action="/vote_down/<%=postulaty3[j].IdKomentarzu%>/kom/<%=capfile%>/<%=strona%>" method="post"> <button class="vote" id="vote_down_kom"></button></form>
                              </div>
                          </div>
                        <%}%>
                      <%}%>  
                  <%}%>
                <%}%>  
              <%}%>

              <!-- SORTOWANIE ZROBIMY PÓŹNIEJ!!!!
              <div class="" style="float: right;width: 20%;margin-top:4%;text-align:center;background: grey"> 
                <select name="forma" style="font-size: 1rem;padding:0;margin:0;" onchange="location = this.options[this.selectedIndex].value;" value="sortuj">
                  <option selected disabled><p>Sortuj</p></option>
                  <option value="/forum/<%=strona%>/<%=postulaty2[0].id%>">Od najmłodszej</option>
                  <option value="/forum1/<%=strona%>/<%=postulaty2[0].id%>">Od najstarszej</option>
                </select>
              </div> -->
              
              <div class="informations" style="margin-top: 10rem;">
                 <img src="/images/layout_addons/cc_logo.png" style="max-width:5%"/> Gra o Stocznię na licencji Creative Commons.  Gra o Stocznię i opinie Uczestników są chronione Ustawą o prawie autorskim i prawach pokrewnych z 4 lutego 1994 roku. Ich wykorzystywanie do celów komercyjnych, bez zgody <a href="/czlowiek_ze_stoczni"> Człowieka ze Stoczni </a> oraz autorów opinii jest zabronione.
                 <br />
                <a href="/czlowiek_ze_stoczni">Człowiek ze Stoczni </a> nie ponosi odpowiedzialności za opinie publikowane w Grze o Stocznię. Wszystkie opinie niezgodne z <a href="/reguly">regulaminem/zasadami</a> tej gry będą usuwane.
              </div>
              <%}
              else{%> 
                  <%if(strona != "start_przyszlosc" && strona != "start_przeszlosc"){%>
                    <%if(strona=="mapa_przeszlosc" || strona=="mapa_przyszlosc"){%>
                      <h3 style="color:#800000; text-align: center ; font-size:60px;font-style:normal" class="tytul"> DYSKUSJA </h3>
                    <%}else{%>
                      <h3 class="tytul white" style="clear: both"> DYSKUSJA </h3>
                    <%}%>
              <%}}%>
  
              </div>
          </div>
          <footer id="sentence_bottom"></footer>
          <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('/images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;z-index: 900"></a>

         <script type='text/javascript'>
        //<![CDATA[
          $(document).ready(function() {
            $('.tresc_postu').each(function() {
              var that = $(this);
              var text = that.html();
          
              that.html(text.autoLink());
            });

          
          });
        //]]>
      </script>
    </body>

</html>
