<!DOCTYPE html>
<html class="no-js" lang="en" > 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="stylesheets/layout.css" />
        <link rel="stylesheet" href="stylesheets/slider.css" />
        <script src="javascripts/jquery-2.2.4.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/jquery.slides.min.js"></script>
    </head>
<body>
  <header class="row">
  <div class="col-xs-1">
  </div>
    <div class="col-xs-4">
      <a href="/postulaty"> <img class="img-responsive" src="/images/icons/gra-o-stocznie-logotyp.png" alt="Gra o stocznie"/> </a>
    </div>
    <div class="col-xs-2">
      <div class="graostocznie-logo-header">
        <img class="img-responsive" src="/images/icons/gos-logo.png" alt="Gra o stocznie"/>
      </div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/images/icons/hanza-logo.png" alt="Gra o stocznie"/>
    </div>
    <div class="col-xs-1">
  </div>
  </header>

  <section class="text-center">
  <div class="row hidden-xs text-center" id="slider">
    <div class="slider-container">
      <img class="slider-frame" src="images/layout/slider-border.png" />
      <div id="slides">
        <img src="images/pierwszyEkran/plakat.jpg">
        <img src="images/pierwszyEkran/plakat.jpg">
        <img src="images/pierwszyEkran/plakat.jpg">
        <img src="images/pierwszyEkran/plakat.jpg">
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
      </div>
    </div>
  </div>
  </section>

  <footer class="text-center footer">
    <img class="line-footer" class="img-responsive" src="/images/layout/line_above_icons.png" />
    <div class="row">
        <span>
          <img class="footer-icon-bar" src="/images/icons/to-head.png" />
        </span>
        <span>
          <a href="/"> <img class="footer-icon-bar" src="/images/icons/home.png" /> </a>
        </span>
        <span>
          <a href="/login"> <img class="footer-icon-bar" src="/images/icons/log.png" /> </a>
        </span>
        <span>
          <a href="/kolonista"> <img class="footer-icon-bar" src="/images/icons/user.png" /> </a>
        </span>
        <span>
          <a href="/kolonia"> <img class="footer-icon-bar" src="/images/icons/kolonia.png" /> </a>
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/mailbox.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/admin.png" />
        </span>
        <span>
          <a href="/reguly"> <img class="footer-icon-bar" src="/images/icons/rules.png" />  </a>
        </span>
        <span>
          <a href="/postulaty "><img class="footer-icon-bar" src="/images/icons/write-pos.png" /> </a>
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/info.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/gallery.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/partners.png" />
        </span>
        <span>
          <img class="footer-icon-bar" src="/images/icons/to-down.png" />
        </span>
      </div>
  </footer>

</body>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 667,
        height: 290,
        navigation: false
      });
    });
    $(document).ready(function() {
       $(".footer-icon-bar").hover(
        function() {
          var path = $(this).attr('src').split(".")[0] + "-hover.png";
          $(this).attr('src', path);
       },
       function() {
        var path = $(this).attr('src').replace("-hover", "");
        $(this).attr('src', path);
       }); 
    });
    
  </script>

</html>
