<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <!--tutaj mamy od crop-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/imgareaselect-default.css" />
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>
<style>
</style>



    </head>
    <body>

<div class="row" style="height:10%">
            <div class="contain-to-grid">
                <div class="fixed">
                    <ul class="button-group even-3">
                        <a id="head_przeszlosc_button" href="/forum/start_przeszlosc"></a>
                        <a id="head_kolonia_button" href="/kolonia"></a>
                        <a id="head_przyszlosc_button" href="/forum/start_przyszlosc"></a>
                    </ul>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="small-4 small-centered columns" style="text-align:center"> <h3 style="color: white"> <%= new Date().toJSON().slice(0,10)%> </h3> </div>
    </div>
    <div class="row" style="margin-bottom: 5%;color: white">
        <div class="large-3 middle-5 small-12 columns" style="float: right !important;">
             <% if(data.length){ %>

                  <div style="text-align: center">  <img src="<%=data[0].profilowe%>"   id="zdjecie" width="100" height="200" alt="Błąd" />
                  </div>
                <div style="width: 100%; height: 100%;text-align: center">  <label class="users"></label>  
                        <p class="users"><%=data[0].imie+" "+data[0].nazwisko%></p>  
                        <label class="users"> Email </label>
                        <p class="users"><%=data[0].email%></p>
                        <img class="icon" src="/images/layout_addons/gra o stocznie_vectorized.png" style="max-width: 14%" />
                        <p class="users" style="color: #800000"><% if(list.length){for(var i=0;i<list.length;i++){ if(list[i].user_id==user_id){ if(list[i].rating!=null){%> <%=list[i].rating%> </p>
                        <label class="users"> Miejsce w rankingu </label>
                        <p class="users" style="font-size: 2.5rem"> <%= i + 1 %> </p>
                        <% }else{ %> Brak punktów <%}break; }}} if(i==list.length){ %> Brak punktow <% } %> 
                        <p class="users opis">
                            <%if(data[0].o_mnie == null || data[0].o_mnie.length == 0){%> Kolonista nie dodał jeszcze swojego opisu. <%}
                            else{%> <%= data[0].o_mnie %> <%}%>
                        </p>
                        <%if(tiger_profilowy===0){%>
                        <form style="width: 100%; height: auto" action="/edit"> <button id="edit_profile"> </button> </form>
                        <%}%>
                </div>
               

        <%
        
         }%>
        </div>
        <div class="large-4 middle-7 small-12 columns" style="float: left !important;">
            <h3 style="color: white"> Koloniści </h3>
            <% if(list.length){ %>
                <ul class="no-bullet">
                    <%for(var i = 0;i < list.length;i++) { 
                        if(list[i].email===ciasta){%>  
                        <%}else{%>
                        <li class="users" style="text-align: left"><%=i+1%>. <img src="<%=list[i].profilowe%>" width="75" height="150"/> <%=list[i].imie%>  <%=list[i].nazwisko%> -  <%if(list[i].rating == null){%> Brak punktów <%}else{%> <em style="color: #800000; font-style: normal;"> <%=list[i].rating%> </em> <img class="icon" src="/images/layout_addons/gra o stocznie_vectorized.png" style="max-width: 8%" />  <%}%> </li>
                        <%}
                    }%>
                </ul>        
            <% }else{ %>
             <tr>
                <td colspan="3">No user</td>
             </tr>
        <% } %>
        </div>

    </div>

 <script>
         $(document).ready(function() {
            $('.opis').each(function() {
              var that = $(this);
              var text = that.html();
          
              that.html(text.autoLink());
            });
          });
       </script>
        <footer id="sentence_bottom"></footer>
    </body>

</html>