<!DOCTYPE html>


<html class="no-js" lang="en" > 

    <head>
    
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="Zurb/css/foundation.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        
        <script src="Zurb/js/vendor/custom.modernizr.js"></script>

        <script src="Zurb/js/vendor/jquery.js"></script>
        
        <script src="Zurb/js/foundation.min.js"></script>
        <script src="/javascripts/funkcje_ajax.js"> </script>
            
    </head>


	<body>

        <script>
        </script>


          <div class="row">
            <div class="small-3 small-centered columns" id="header">
                    <h4 id="welcome_title"> <%= info %> </h4>
            </div>
         </div>
         <div class="row" style="height: 100%">
            <div class="small-3 small-centered columns">
                 <div id="register">
                    <h3 style="text-align: center;color: white"> Rejestracja </h3>
                    </br>
                    <form method="post" action="/add_user" onsubmit='return validate_password("#password","#repeat_password")'>

                        <input type='text' name='imie' placeholder="Imie uczestnika"/>
                        <input type='text' name='nazwisko' placeholder="Nazwisko uczestnika"/>
                        <input type='text' name='email' placeholder="E-mail"/>
                        <input type='text' name='haslo' id='password' placeholder="Hasło"/>
                        <input type='text' name='phaslo' id='repeat_password' placeholder="Powtórz hasło"/>
                        <p id="pDodatkInfo"> + Informacje dodatkowe </p>
                        <div id="informacjeDodatkoweRejestracja" style="display:none">
                          <textarea name="o_mnie" placeholder="O sobie" cols="10" rows="10"></textarea>
                        </div>
                        <div style="text-align: center">
                             <button id="zarejestruj"> </button>
                        </div>
                       
                    </form>
                </div>
            </div>
         </div>

        
        <footer id="sentence_bottom"></a>  
        

<!-- <form method="post" action="/create">
               
                <input type='submit' />
            </form>-->
<!--<form method="post" action="/usunieciewartoscipoczatkowejkolumny">
               <label > usun </label>
                <input type='submit' />
            </form>-->

<!-- <script src="javascripts/cookies.js" />


        <script>
            $(document).foundation();

            $(document).foundation('joyride', 'start');
        </script> -->
</body>

</html>
