<!DOCTYPE html>


<html class="no-js" lang="en" > 

    <head>
    
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="Zurb/css/foundation.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        
        
        <script src="Zurb/js/vendor/custom.modernizr.js"></script>

        <script src="Zurb/js/vendor/jquery.js"></script>
        
        <script src="Zurb/js/foundation.min.js"></script>
        <script src="/javascripts/funkcje_ajax.js"> </script>
            
    </head>


	<body>
        <div class="row">
          <div class="small-3 small-centered columns" id="header">
                  <a href="/forget" style="width: 80%;position: fixed; top: 0; right: 10%;background-size: contain;background-repeat: no-repeat;height:0; padding-top: 14.92%;"> </a>
          </div>
       </div>
       


       <div class="row" style="padding: 0 5% 0 5%;color: white;">
          <h2 style="font-family: stocznia_important_links, sans-serif; color: white;text-align: center"> ZASADY GRY O STOCZNIĘ </h2>


          <p class="opis" style="font-size: 1.5em">
              1. Gra o Stocznię jest ogólnodostępna. Każdy może zagrać o Stocznię. The English speaking participants can join the game by clicking HANSA at the KOLONIA GDANSK-STOCZNIA part. <br>
              2. Wszyscy Uczestnicy Gry o Stocznię są równi – ich wypowiedzi są punktowane identycznie. <br>
              3. Gra o Stocznię zapewnia uczestnikom wolność i niezależność. Wszystkie działania i związane z nimi uzgodnienia będą całkowicie pod kontrolą jej uczestników.<br>
              4. Istotą i celem Gry o Stocznię będzie społeczna, dialogiczna kolonizacja dawnych terenów Stoczni Gdańskiej. <br>
              5. Kolonizatorem zostaje każda zarejestrowana osoba, jak również formalna lub nieformalna organizacja (grupa/zespół, stowarzyszenie/fundacja, firma, urząd itp.), która zabierze głos w sprawie przeszłości i/lub przyszłości dawnych terenów Stoczni Gdańskiej. <br>
              6. Dialogiczna kolonizacja Stoczni będzie rozgrywana w polach; PRZESZŁOŚĆ i PRZYSZŁOŚĆ (oraz HANSA dla anglojęzycznych uczestników). Każde z tych pól zostało wyposażone w tablicę (do zgłaszania postulatów) oraz na mapę interaktywną (do generowania wiedzy o istniejących i/lub projektowanych kwartałach urbanistycznych i/lub budynkach). <br>
              7. Treści wypowiedzi Uczestników Gry o Stocznię (zarówno w formie tekstowej, jak i graficznej itp.) są traktowane jak ich dzieła/utwory i chronione Ustawą o prawie autorskim i prawach pokrewnych, z dnia 4 lutego 1994 roku. <br>
              8. W Grze o Stocznię, wypowiedzi Uczestników mogą mieć następującą formę (wraz z odpowiednią punktacją):<br> </p>
              <p class="opis" style="font-size: 1.5em;padding: 0 4% 0 4%">8.1. postulatu zgłoszonego na tablicy wraz z wyjaśnieniem w postaci tekstu i/lub załączników graficznych (40 punktów) <br>
              8.2. informacji (w tym koncepcji) dotyczącej konkretnego obiektu na interaktywnej mapie (40 punktów) <br>
              8.3. information/concept in the area of HANSA with/without graphic attachments (40 points) <br>
              8.4. commentary to the initial information/concept in the area of HANSA with/without graphic attachments with „victoria” or „finger” (10 points) <br>
              8.5. komentarza do wypowiedzi innego Uczestnika w postaci tekstu i/lub załączników graficznych wraz z ikonką „victoria” lub „finger” (10 punktów) <br>
              8.6. kliknięcia ikonki „victoria” lub „finger”(2 punkty) <br>
              8.7. clicking „victoria” or „finger” (2 points) </p>
              <p class="opis" style="font-size: 1.5em">9. W Grze o Stocznię możliwe są dwa typy komentarzy: <br> </p>
              <p class="opis" style="font-size: 1.5em;padding: 0 4% 0 4%">
              9.1. pozytywny – akceptujący, popierający wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „victoria” lub sama „victoria”) 
              9.2. negatywny – negujący i krytykujący wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „finger” lub sam „finger”) </p>
              <p class="opis" style="font-size: 1.5em">
              10. Uczestnicy Gry o Stocznię będą zdobywać punkty na trzy sposoby: </p>
              <p class="opis" style="font-size: 1.5em;padding: 0 4% 0 4%">
              10.1. za swoje wypowiedzi (postulaty i/lub informacje/koncepcje – po 40 punktów za każdą wypowiedź
              10.2. za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników – po 10 punktów za każdy komentarz (tekstowo-graficzny) i po 2 punkty za każdy komentarz w postaci „victorii” i „fingera”
              10.2 za pozytywne komentarze innych Uczestników do swoich wypowiedzi – po 10 punktów za każdy pozytywny komentarz (tekstowo-graficzny) i po 2 punkty za każdy komentarz w postaci „victorii” </p>
              <p class="opis" style="font-size: 1.5em">
              11. Uczestnicy Gry o Stocznię będą tracić punkty za każdy negatywny komentarz innych Uczestników do swoich wypowiedzi – po 10 punktów za każdy negatywny komentarz (tekstowo-graficzny) i po 2 punkty za każdy negatywny komentarz w postaci „fingera” <br>
              12. Łączna ilość punktów zdobytych przez danego Uczestnika Gry o Stocznię (w danym momencie) będzie sumą punktów za swoje wypowiedzi (postulaty i/lub informacje/koncepcje) oraz za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników, jak również za pozytywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „victorii”) – minus punkty za negatywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „fingera”).<br>
              13. Aktualna punktacja wszystkich Uczestników Gry o Stocznię, jak również związana z tym pozycja danego Uczestnika w grupie Kolonizatorów będzie widoczna w polu KOLONIŚCI (KOLONII GDAŃSK-STOCZNIA). Lista Uczestników Gry o Stocznię będzie ułożona malejąco, od zdobywcy największej (w danym momencie) ilości punktów (do Uczestnika z najmniejszą ilością zdobytych punktów).  <br>
              14.Uczestnik-Kolonizator, który zdobędzie łącznie 10.000 punktów otrzyma tytuł Obywatela Kolonii Gdańsk-Stocznia, poświadczony paszportem wydanym przez Człowieka ze Stoczni, uprawniającym do: </p>
              <p class="opis" style="font-size: 1.5em;padding: 0 4% 0 4%">
              14.1. wirtualnego zajęcia połowy wybranego przez siebie budynku na interaktywnej mapie, poprzez podlinkowanie tam swojej działalności (bloga, galerii sztuki, radia internetowego, klubu dyskusyjnego itp.) <br>
              14.2. wirtualnego przyjęcia do zajętej przez siebie części budynku dowolnej ilości osób (niekoniecznie uczestników Gry o Stocznię) wraz z ich wirtualnymi działalnościami (blog, galeria sztuki, radio internetowe, klub dyskusyjny itp.)</p>
              <p class="opis" style="font-size: 1.5em">
              Symulacja przykładowej punktacji 1 Uczestnika: <br>
              - napisał 1 postulat wraz z komentarzem = 40 punktów <br> 
              - napisał 1 informację ze zdjęciami w zakładce PRZESZŁOŚĆ = 40 punktów <br>
              - napisał 1 koncepcję ze zdjęciami w zakładce PRZYSZŁOŚĆ = 40 punktów <br>
              - napisał łącznie 20 komentarzy tekstowych (pozytywnych i/lub negatywnych) (20 x 10 = 200 punktów) oraz kliknął 40 „victorii” i/lub „fingerów” (40 x 2 = 80) = 280 punktów<br>
              - otrzymał łącznie 20 pozytywnych komentarzy tekstowych (20 x 10 = 200 punktów) i 40 „victorii” (40 x 2 = 80) = 280 punktów<br>
              - otrzymał 10 negatywnych komentarzy tekstowych (10 x 10 = 100 punktów) i 10 „fingerów” (10 x 2 = 20) = 120 punktów<br>
              </p> <p class="opis" style="text-align:center;font-size: 1.5em"> RAZEM = 40 + 40 + 40 + 280 + 280 – 120 = 560 PUNKTÓW <br>

              320 punktów – 200 punktów = 120 punktów </p>
</p>



       </div>
       <div style="height:15%">
        
        <footer id="sentence_bottom">
    <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('/images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;">WYLOGUJ</a>  
    
    </footer>

</body>

</html>