<!DOCTYPE html>


<html class="no-js" lang="pl" > 

    <head>
    
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="Zurb/css/foundation.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        
        
        <script src="Zurb/js/vendor/custom.modernizr.js"></script>

        <script src="Zurb/js/vendor/jquery.js"></script>
        
        <script src="Zurb/js/foundation.min.js"></script>
        <script src="/javascripts/funkcje_ajax.js"> </script>
            
    </head>

    <style>
      p, h4{
        color: black;
        font-family: 'stocznia_body', Helvetica, sans-serif;
        letter-spacing: 0.15em;        
      }

      .wyliczenia{
        margin-left: 10%;
      }

      
    </style>


	<body>
        
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h3 style="text-align: center;color: black"> ZASADY GRY O STOCZNIE </h3>
        <br /><br />
        <h4>1. WARUNKI OGÓLNE I CELE </h4>
        <p>1.1. Istotą i celem Gry o Stocznię jest społeczna i dialogiczna kolonizacja dawnych terenów Stoczni Gdańskiej</p>
        <p>1.2. Gra o Stocznię jest ogólnodostępna i bezpłatna. Wykorzystywanie Gry o Stocznię do celów komercyjnych/zarobkowych jest niedozwolone.</p>
        <p>1.3 Wszyscy Uczestnicy Gry o Stocznię są równi i podlegają tym samym zasadom gry. </p>
        <p>1.4 Gra o Stocznię zapewnia Uczestnikom wolność i niezależność. Wszystkie działania i związane z nimi uzgodnienia będą całkowicie pod kontrolą jej Uczestników.</p>
        
        <p>1.5 Wypowiedzi Uczestników Gry o Stocznię powinny być szczere/prawdziwe oraz zrozumiałe dla innych, zarówno w zakresie przeszłości dawnych terenów Stoczni Gdańskiej, jak również ich wymarzonej i upragnionej przez kolonistów przyszłości. Kreatywne i utopijne myślenie w stosunku do przyszłości tego obszaru jest jak najbardziej wskazane i zalecane! </p>

        <h4>2. KOLONIA GDAŃSK-STOCZNIA</h4>
        <p>2.1 Uczestnikiem Gry o Stocznię zostaje każda zarejestrowana osoba, jak również formalna lub nieformalna organizacja (grupa/zespół, stowarzyszenie/fundacja, firma, instytucja/urząd itp.), która zabierze głos w Grze o Stocznię w sprawie przeszłości i/lub przyszłości dawnych terenów Stoczni Gdańskiej. Uczestnik Gry o Stocznię nazywany będzie Kolonistą (kolonizującym mentalnie i dialogicznie dawne tereny Stoczni Gdańskiej). 
        </p>
        <p>2.2. Wszyscy Koloniści tworzą Kolonię Gdańsk-Stocznia – rzeczywistą, niezależną i samorządną społeczność, zlokalizowaną w wirtualnej PRZESTRZENI Stoczni Gdańskiej (z roku 1996) </p>
        <p>2.3.Aktualna lista wszystkich Kolonistów, w kolejności zgodnej z ilością zdobytych punktów (malejąco), znajduje się w aktywnym polu <em style="font-style: normal;text-decoration: underline"> Kolonia Gdańsk-Stocznia - Koloniści </em>  </p>

        <p>2.4. Koloniści mogą się komunikować ze sobą na forach Gry o Stocznię, jak również indywidualnie (za pośrednictwem podanych w profilu adresów e-mail). Jeśli Kolonista nie życzy sobie indywidualnych kontaktów z innymi, może utajnić swój adres e-mail (zgłaszając to do <em style="font-style: normal;text-decoration: underline"> Człowieka ze Stoczni </em>). </p>

        <p>2.5. Dialogiczne zaangażowanie Kolonistów w Grę o Stocznię będzie premiowane zgodnie z niniejszymi Zasadami </p>

        <h4>3. PROCESS </h4>
        <p>3.1  Dialogiczna kolonizacja Stoczni będzie rozgrywana głównie w polach; <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em>  i <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em>. Każde z tych pól zostało wyposażone w tablicę (do zgłaszania postulatów) oraz w mapę interaktywną (do generowania wiedzy o istniejących i/lub projektowanych miejscach). Dodatkowo, Koloniści będą mieli do dyspozycji tablicę w polu AKTUALNOŚCI (KOLONII GDAŃSK-STOCZNIA) do dzielenia się wiedzą o aktualnej sytuacji dotyczącej tej (postoczniowej) części przestrzeni Gdańska. Kolonizacja Stoczni będzie możliwa również w języku angielskim w polu HANSA

        <p>3.2 Treści wypowiedzi Uczestników Gry o Stocznię (zarówno w formie tekstowej, jak i graficznej itp.) są traktowane jak ich dzieła/utwory i chronione Ustawą o prawie autorskim i prawach pokrewnych, z dnia 4 lutego 1994 roku.Treści wypowiedzi Uczestników Gry o Stocznię (zarówno w formie tekstowej, jak i graficznej itp.) są traktowane jak ich dzieła/utwory i chronione Ustawą o prawie autorskim i prawach pokrewnych, z dnia 4 lutego 1994 roku. </p>


        <p>3.3 Postulaty w polu <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> powinny odpowiadać na pytanie: CO jest kulturowym dziedzictwem Stoczni Gdańskiej, które należy zachować i rozwijać? <br /><br /> </p>
       <p>3.4 Postulaty w polu <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> powinny odpowiadać na pytanie: JAK należy chronić i przekształcać kulturowe dziedzictwo Stoczni Gdańskiej? <br /><br /> </p>
       <p> 3.5. Na forum mapy interaktywnej w polu <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> będzie generowana społeczna wiedza o historii i kulturowym dziedzictwie poszczególnych po-stoczniowych obiektów <br /> <br /> </p>
       <p>3.6 Na mapie interaktywnej w polu <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> będzie generowana społeczna wiedza o sposobach przekształceń tych po-stoczniowych obiektów z poszanowaniem i ochroną wartości ich kulturowego dziedzictwa <br /><br /> </p>

       <p> 3.7. W polu AKTUALNOŚCI (KOLONII GDAŃSK-STOCZNIA) będzie prezentowana i analizowana aktualna sytuacja w Grze o Stocznię </p>

        <p> 3.8. Postulaty publikowane przez Kolonistów na tablicy <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> i <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> będą (automatycznie) pozycjonowane (malejąco) według ilości zdobytych punktów </p>

        <p> 3.9. Nad prawidłowym przebiegiem dialogicznego procesu Gry o Stocznię czuwa Zgromadzenie Obywateli Kolonii Gdańsk-Stocznia oraz Człowiek ze Stoczni </p>

        <p> 3.10. Pierwsze 21 Postulatów (10 z tablicy PRZESZŁOŚĆ + 11 z tablicy PRZYSZŁOŚĆ) utworzy Wizję Ochrony i Przekształceń (WOP) terenów dawnej Stoczni Gdańskiej. Decyzję o strategicznym wydzieleniu tych 21 Postulatów podejmie Zgromadzenie Obywateli Kolonii Gdańsk-Stocznia w terminie nie krótszym niż 365 dni od rozpoczęcia publicznego procesu Gry o Stocznię (1 października 2015)</p>

        <h4> PUNKTACJA</h4>
        <p>4.1 W Grze o Stocznię, wypowiedzi Uczestników mogą mieć następującą formę (wraz z odpowiednią punktacją): <br /> </p>
        <p class="wyliczenia"> 4.1.1 postulatu zgłoszonego na tablicy wraz z wyjaśnieniem w postaci tekstu i/lub załączników graficznych (20 punktów) <br />
        4.1.2. informacji (w polu PRZESZŁOŚCI) lub koncepcji (w polu PRZYSZŁOŚCI) dotyczącej konkretnego miejsca na interaktywnej mapie – (20 punktów) <br />
        4.1.3. informacji ogólnej dotyczącej tej (postoczniowej) części przestrzeni Gdańska (w polu AKTUALNOŚCI) – (10 punktów) <br />
        4.1.4. komentarza do wypowiedzi innego Uczestnika w postaci tekstu i/lub załączników graficznych wraz z wartościującą ikonką „Victorii” lub „kciuka dołowego” (w polu PRZESZŁOŚCI lub PRZYSZŁOŚCI) – (10 punktów) <br />
        4.1.5. komentarza do wypowiedzi innego Uczestnika w postaci tekstu i/lub załączników graficznych wraz z wartościującą ikonką „Victorii” lub „kciuka dołowego” (w polu AKTUALNOŚCI) – (5 punktów)<br />
        4.1.6 kliknięcia ikonki „Victoria” lub „kciuk dołujący”(1 punkt) </p>
        <p>4.2 W Grze o Stocznię możliwe są dwa typy komentarzy: <br /> </p>
        <p class="wyliczenia">4.2.1. pozytywny – akceptujący, popierający/wspierający wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „Victoria” lub sama „Victoria”) 
        4.2.2. negatywny – negujący i krytykujący wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „kciuk dołujący” lub sam „kciuk dołujący”)  </p>
        <p>4.3 Kolonisci będą wiec zdobywać punkty na trzy sposoby: </p>
        <p class="wyliczenia">4.3.1. za swoje wypowiedzi (postulaty i/lub informacje/koncepcje – po 20 punktów za każdą wypowiedź w polu w polu PRZESZŁOŚCI lub PRZYSZŁOŚCI oraz po 10 punktów w polu AKTUALNOŚCI <br />
         4.3.2. za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników – po 10 punktów za każdy komentarz (tekstowo-graficzny) w polu w polu PRZESZŁOŚCI lub PRZYSZŁOŚCI oraz po 10 punktów za każdy komentarz (tekstowo-graficzny) w polu AKTUALNOŚCI, jak również po 1 punkcie za każdy komentarz w postaci „Victorii” i „kciuka dołującego” <br />
        4.3.3. za pozytywne komentarze innych Uczestników do swoich wypowiedzi – po 10 punktów za każdy pozytywny komentarz (tekstowo-graficzny) i po 2 punkty za każdy komentarz w postaci „Victorii”  </p>
        <p>4.4.Kolonisci będą tracić punkty za każdy negatywny komentarz innych Uczestników do swoich wypowiedzi – po 5 punktów za każdy negatywny komentarz (tekstowo-graficzny) i po 0.5 punktu za każdy negatywny komentarz w postaci „kciuka dołującego”</p>
        <p> 4.5 Łączna ilość punktów zdobytych przez danego Uczestnika Gry o Stocznię (w danym momencie) będzie sumą punktów za swoje wypowiedzi (postulaty i/lub informacje/koncepcje) oraz za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników, jak również za pozytywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „Victorii”) – minus punkty za negatywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „kciuk dołujący”). </p>

        <h4>5. OBYWATELSTWO KOLONII GDAŃSK-STOCZNIA </h4>
        <p>5.1.1. Kolonista, który zdobędzie w Grze o Stocznię łącznie 10.000 punktów otrzyma tytuł Obywatela Kolonii Gdańsk-Stocznia, poświadczony paszportem wydanym przez <em style="font-style: normal;text-decoration: underline"> Człowieka ze Stoczni </em>, uprawniającym do: <br /> </p>
        <p class="wyliczenia"> 5.1.1. wirtualnego zajęcia połowy wybranego przez siebie budynku na interaktywnej mapie, poprzez podlinkowanie tam swojej działalności (bloga, galerii sztuki, radia internetowego, klubu dyskusyjnego itp.) <br />
        5.1.2. wirtualnego przyjęcia do zajętej przez siebie części budynku dowolnej ilości osób/organizacji (niekoniecznie uczestników Gry o Stocznię) wraz z ich wirtualnymi działalnościami (blog, galeria sztuki, radio internetowe, klub dyskusyjny itp.)<br />
        5.1.3. opiniowania oraz współdecydowania o całym procesie Gry o Stocznię w ramach wspólnych działań Rady Obywateli Kolonii Gdańsk-Stocznia </p>
        <br /> 
        <p> 5.2. Aktualna lista Obywateli Kolonii Gdańsk-Stocznia (w porządku malejącym, związanym z ilością zdobytych punktów) znajduje się w aktywnym polu Kolonia Gdańsk-Stocznia.</p>
        

        <h4>6. HONOROWE OBYWATELSTWO KOLONII GDAŃSK-STOCZNIA </h4>
        <p>6.1. Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia można uzyskać po zebraniu łącznie 30.000 punktów w Grze o Stocznię. <br />
        6.2. <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> ma prawo nadać Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia osobie lub organizacji, która w swej dotychczasowej działalności pozytywnie się zasłużyła w społecznym procesie  dialogicznej kolonizacji dawnych terenów Stoczni Gdańskiej, niekoniecznie poprzez swoje aktywne uczestnictwo w Grze o Stocznię. <br />
        6.3. Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia uprawnia do: </p>
        <p class="wyliczenia">6.3.1. wirtualnego zajęcia całego wybranego przez siebie obiektu (pustego kwartału lub budynku) na mapie interaktywnej, poprzez podlinkowanie tam swojej działalności (bloga, galerii sztuki, radia internetowego, klubu dyskusyjnego itp.) <br />
        6.3.2. wirtualnego przyjęcia do zajętego przez siebie obiektu (pustego kwartału lub budynku) na mapie interaktywnej dowolnej ilości osób/organizacji (niekoniecznie uczestników Gry o Stocznię) wraz z ich wirtualnymi działalnościami (blog, galeria sztuki, radio internetowe, klub dyskusyjny itp.) <br />
        6.3.3. opiniowania oraz współdecydowania o całym procesie Gry o Stocznię w ramach wspólnych działań Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia </p>
        <p> 6.4. Aktualna lista Honorowych Obywateli Kolonii Gdańsk-Stocznia znajduje się w aktywnym polu Kolonia Gdańsk-Stocznia </p>
        


        <h4> 7. SAMORZĄDNOŚĆ KOLONII GDAŃSK-STOCZNIA </h4>
<p> 7.1. Prawo do podejmowania decyzji dotyczących całego procesu Gry o Stocznię mają wszyscy Obywatele poprzez Zgromadzenie Obywateli Kolonii Gdańsk-Stocznia, w którego skład wchodzą: Honorowa Rada Kolonii Gdańsk-Stocznia oraz Rada Obywateli Kolonii Gdańsk-Stocznia </p>
<p> 7.2. Honorowa Rada Kolonii Gdańsk-Stocznia składa się ze wszystkich Honorowych Obywateli Kolonii Gdańsk-Stocznia (co najmniej dwójki). Podejmuje decyzje dotyczące swojej organizacji większością głosów, przy braku sprzeciwu któregokolwiek z Honorowych Obywateli (za wyjątkiem objętych procesem wykluczenia), w tym w szczególności:</p><p class="wyliczenia">
7.2.1. formułowania swojej opinii oraz swojego stanowiska dotyczących określonych problemów związanych z dialogicznym procesem Gry o Stocznię <br />
7.2.2. przyjmowania nowych członków w skład Honorowej Rady Kolonii Gdańsk-Stocznia spośród aktywnych Kolonistów, jak również osób nie uczestniczących wprost w Grze o Stocznię<br />
7.2.3. wykluczania z Honorowej Rady Kolonii Gdańsk-Stocznia osób, które działają na szkodę procesu Gry o Stocznię
</p><p> 7.3. Rada Obywateli Kolonii Gdańsk-Stocznia składa się ze wszystkich Obywateli Kolonii Gdańsk-Stocznia (co najmniej dwójki). Podejmuje decyzje dotyczące swojej organizacji większością głosów, przy braku sprzeciwu któregokolwiek z Obywateli (za wyjątkiem objętych procesem wykluczenia), w tym w szczególności: </p> <p class="wyliczenia"> 
7.3.1. formułowania swojej opinii oraz swojego stanowiska dotyczących określonych problemów związanych z dialogicznym procesem Gry o Stocznię<br />
7.3.2. wykluczania z Kolonii Gdańsk-Stocznia osób, które działają na szkodę procesu Gry o Stocznię </p><p>
7.4. Opinie i decyzje Obywateli Kolonii Gdańsk-Stocznia uznawane są za wspólne i wiążące dla przebiegu dialogicznego procesu Gry o Stocznię pod warunkiem zgody Zgromadzenia Obywateli Kolonii Gdańsk-Stocznia (braku sprzeciwu którejkolwiek z Rad) </p>
<p>
7.5. Zgromadzenie Obywateli Kolonii Gdańsk-Stocznia podejmuje decyzje dotyczące całego procesu Gry o Stocznię, w tym w szczególności: </p><p class="wyliczenia">
7.5.1. wprowadzania zmian w zasadach Gry o Stocznię <br />
7.5.2. akceptowania i promowania ciekawych pomysłów prezentowanych w Grze o Stocznię poprzez wprowadzanie zmian w dialogicznym procesie Gry o Stocznię (na mapach interaktywnych oraz innych miejscach, w zależności od sensu danego pomysłu) </p> <p>
7.6. Wszelkie ważne opinie i decyzje Zgromadzenia Obywateli Kolonii Gdańsk-Stocznia, jak również Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia oraz Rady Obywateli Kolonii Gdańsk-Stocznia będą publikowane w aktywnym polu AKTUALNOŚCI Gry o Stocznię (oraz w polu Gry adekwatnym do charakteru danej opinii i/lub decyzji) </p><p>
7.7. Zgromadzenie Obywateli Kolonii Gdańsk-Stocznia wybiera ze swego grona (obu Rad) odpowiednie, kompetentne osoby do komunikowania i reprezentowania na zewnątrz swojego, określonego stanowiska </p>
        <h4>8. UWARUNKOWANIA TECHNICZNE i ORGANIZACYJNE </h4> <br />
        <p>
        8.1 Gra o Stocznię wymaga posiadania konta e-mail oraz dostępu do Internetu, włącznie z programem służącym do przeglądania jej zasobów, akceptującym pliki typu cookies. Korzystanie z oprogramowania typu Adblock Plus lub Flashblock może spowodować nieprawidłowe funkcjonowanie Gry lub całkowicie ją uniemożliwić
        <br />
        8.2. Każdy Uczestnik Gry o  Stocznię wyraża zgodę na używanie plików cookies (w przeciwnym razie powinien je zablokować w ustawieniach swojej przeglądarki)
        <br />
        8.3 W Grze o Stocznię zabronione jest wykorzystywanie wirusów, botów, robaków bądź innych kodów komputerowych, plików lub programów działających na szkodę procesu komunikacji 
        <br />
       8.4. Każdy Kolonista ma prawo wglądu oraz modyfikacji swoich danych osobowych podanych podczas rejestracji
        <br />
        8.5. Koloniści wyrażają zgodę na wykorzystanie danych zawartych w formularzu rejestracyjnym do celów Gry o Stocznię (zgodnie z aktualnie obowiązującą Ustawą o ochronie danych osobowych). Dane (osobowe, adresowe itp.) kolonistów nie będą nikomu udostępniane/sprzedawane. 
        <br />
        8.6. Dane osobowe podane przez Uczestnika Gry o Stocznię są jawne i dostępne dla pozostałych Uczestników. W związku z nie ma możliwości zabezpieczenia Kolonistów przed wykorzystaniem tych danych przez osoby prywatne lub firmy, do przesłania im niepożądanych informacji (i niezgodnych z Zasadami Gry o Stocznię). 
        <br />
        8.7. Treści prezentowane przez Kolonistów w Grze o Stocznię powinny być zgodne z faktami – Człowiek ze Stoczni nie ponosi odpowiedzialności za ewentualne nieprawidłowości <br />
        8.8. <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> czuwa nad prawidłowym przebiegiem dialogicznej kolonizacji Stoczni Gdańskiej i posiada to tego następujące prawa: </p>
        <p class="wyliczenia">8.8.1. usuwania treści (lub odnośników do nich) uznawanych powszechnie za wulgarne lub obraźliwe, sprzecznych z obowiązującymi przepisami prawa, w tym również utworów, których udostępnienie (lub umożliwienie) udostępnienia narusza (lub może naruszać) prawa autorskie osób trzecich (jak np. licencjonowanych gier, programów komputerowych, muzyki, filmów itp.) oraz zawierających obiekty (wirusy, pliki itp.) mogące wpływać niekorzystnie na funkcjonowanie Gry o Stocznię
        <br />
        8.8.2. wyeliminowania z Gry o Stocznię  każdego Kolonisty, który złamie niniejsze Zasady Gry o Stocznię oraz którego działania są sprzeczne z dobrymi obyczajami i szkodliwe dla Gry o Stocznię (w tym również innych Kolonistów)  <br /></p>
        <p>8.9. Treści niniejszych Zasad Gry o Stocznię mogą być zmieniane przez Radę Obywateli Kolonii Gdańsk-Stocznia, za zgodą (przy braku sprzeciwu) Rady Honorowych Obywateli Kolonii Gdańsk-Stocznia.<br /><br /> </p>


        <p>Życzę przyjemnej i owocnej kolonizacji dawnej PRZESTRZENI Stoczni Gdańskiej.
        <br /><br />
        <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> </p>
      </div>
    </div>


</body>

</html>