<!DOCTYPE html>


<html class="no-js" lang="pl" > 

    <head>
    
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="Zurb/css/foundation.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        
        
        <script src="Zurb/js/vendor/custom.modernizr.js"></script>

        <script src="Zurb/js/vendor/jquery.js"></script>
        
        <script src="Zurb/js/foundation.min.js"></script>
        <script src="/javascripts/funkcje_ajax.js"> </script>
            
    </head>

    <style>
      p, h4{
        color: black;
        font-family: 'stocznia_body', Helvetica, sans-serif;
        letter-spacing: 0.15em;        
      }

      .wyliczenia{
        margin-left: 10%;
      }

      
    </style>


	<body>
        
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h3 style="text-align: center;color: black"> ZASADY GRY O STOCZNIE </h3>
        <br /><br />
        <h4>1. WARUNKI OGÓLNE I CELE </h4>
        <p>1.1. Istotą i celem Gry o Stocznię jest społeczna i dialogiczna kolonizacja dawnych terenów Stoczni Gdańskiej</p>
        <p>1.2. Gra o Stocznię jest ogólnodostępna i bezpłatna. Wykorzystywanie Gry o Stocznię do celów komercyjnych/zarobkowych jest niedozwolone.</p>
        <p>1.3 Wszyscy Uczestnicy Gry o Stocznię są równi i podlegają tym samym zasadom gry. </p>
        <p>1.4 Gra o Stocznię zapewnia Uczestnikom wolność i niezależność. Wszystkie działania i związane z nimi uzgodnienia będą całkowicie pod kontrolą jej Uczestników.</p>
        
        <p>1.5 Wypowiedzi Uczestników Gry o Stocznię powinny być szczere/prawdziwe oraz zrozumiałe dla innych, zarówno w zakresie przeszłości dawnych terenów Stoczni Gdańskiej, jak również ich wymarzonej i upragnionej przez kolonistów przyszłości. Kreatywne i utopijne myślenie w stosunku do przyszłości tego obszaru jest jak najbardziej wskazane i zalecane! </p>

        <h4>2. KOLONIA GDAŃSK-STOCZNIA</h4>
        <p>2.1 Uczestnikiem Gry o Stocznię zostaje każda zarejestrowana osoba, jak również formalna lub nieformalna organizacja (grupa/zespół, stowarzyszenie/fundacja, firma, instytucja/urząd itp.), która zabierze głos w Grze o Stocznię w sprawie przeszłości i/lub przyszłości dawnych terenów Stoczni Gdańskiej. Uczestnik Gry o Stocznię nazywany będzie Kolonistą (kolonizującym mentalnie i dialogicznie dawne tereny Stoczni Gdańskiej). 
        </p>
        <p>2.2. Wszyscy Koloniści tworzą Kolonię Gdańsk-Stocznia – rzeczywistą, niezależną i samorządną społeczność, zlokalizowaną w wirtualnej PRZESTRZENI Stoczni Gdańskiej (z roku 1996) </p>
        <p>2.3.Aktualna lista wszystkich Kolonistów, w kolejności zgodnej z ilością zdobytych punktów (malejąco), znajduje się w aktywnym polu <em style="font-style: normal;text-decoration: underline"> Kolonia Gdańsk-Stocznia - Koloniści </em>  </p>

        <p>2.4. Koloniści mogą się komunikować ze sobą na forach Gry o Stocznię, jak również indywidualnie (za pośrednictwem podanych w profilu adresów e-mail). Jeśli Kolonista nie życzy sobie indywidualnych kontaktów z innymi, może utajnić swój adres e-mail (zgłaszając to do <em style="font-style: normal;text-decoration: underline"> Człowieka ze Stoczni </em>). </p>

        <p>2.5. Dialogiczne zaangażowanie Kolonistów w Grę o Stocznię będzie premiowane zgodnie z niniejszymi Zasadami </p>

        <h4>OBYWATELSTWO KOLONII GDAŃSK-STOCZNIA </h4>
        <p>Kolonista, który zdobędzie w Grze o Stocznię łącznie 10.000 punktów otrzyma tytuł Obywatela Kolonii Gdańsk-Stocznia, poświadczony paszportem wydanym przez <em style="font-style: normal;text-decoration: underline"> Człowieka ze Stoczni </em>, uprawniającym do: <br /> </p>
        <p class="wyliczenia"> wirtualnego zajęcia połowy wybranego przez siebie budynku na interaktywnej mapie, poprzez podlinkowanie tam swojej działalności (bloga, galerii sztuki, radia internetowego, klubu dyskusyjnego itp.) <br />
        wirtualnego przyjęcia do zajętej przez siebie części budynku dowolnej ilości osób/organizacji (niekoniecznie uczestników Gry o Stocznię) wraz z ich wirtualnymi działalnościami (blog, galeria sztuki, radio internetowe, klub dyskusyjny itp.)<br />
        opiniowania oraz współdecydowania o całym procesie Gry o Stocznię w ramach wspólnych działań Rady Obywateli Kolonii Gdańsk-Stocznia </p>
        <p>Rada Obywateli Kolonii Gdańsk-Stocznia składa się ze wszystkich Obywateli Kolonii Gdańsk-Stocznia (co najmniej dwójki) i jest ciałem opinio-twórczym/dawczym oraz współ-decydującym w zakresie całego procesu Gry o Stocznię, w tym w szczególności:</p>
        <p class="wyliczenia">promowania i akceptowania ciekawych pomysłów prezentowanych w Grze o Stocznię poprzez ich opiniowanie, jak również podejmowanie decyzji o wprowadzeniu zmian w procesie Gry o Stocznię (w zasadach gry oraz na tablicach postulatów i/lub na mapach interaktywnych oraz, w zależności od  sensu danego pomysłu) <br />
        wykluczenia ze swojego składu osób, które działają na szkodę procesu Gry o Stocznię (większością głosów, przy braku głosu sprzeciwu) </p>
        <p>Opinie i decyzje Rady Obywateli Kolonii Gdańsk-Stocznia uznawane są za wspólne, wiążące i ważne pod warunkiem braku sprzeciwu któregokolwiek z Obywateli (za wyjątkiem objętych procesem wykluczenia) jak również zgody Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia.<br />
        Wszelkie ważne opinie i decyzje Rady Obywateli Kolonii Gdańsk-Stocznia będą publikowane w aktywnym polu Aktualności Gry o Stocznię (oraz w polu Gry adekwatnym do charakteru danej opinii i/lub decyzji) <br />
        Aktualny skład Rady Obywateli Kolonii Gdańsk-Stocznia znajduje się w aktywnym polu <em style="font-style: normal;text-decoration: underline"> Kolonia Gdańsk-Stocznia </em>  </p>

        <h4> HONOROWE OBYWATELSTWO KOLONII GDAŃSK-STOCZNIA </h4>
        <p>Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia można uzyskać po zebraniu łącznie 30.000 punktów w Grze o Stocznię. <br />
        <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> ma prawo nadać Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia osobie lub organizacji, która w swej dotychczasowej działalności pozytywnie się zasłużyła w społecznym procesie  dialogicznej kolonizacji dawnych terenów Stoczni Gdańskiej, niekoniecznie poprzez swoje aktywne uczestnictwo w Grze o Stocznię. <br />
        Honorowe Obywatelstwo Kolonii Gdańsk-Stocznia uprawnia do: </p>
        <p class="wyliczenia">wirtualnego zajęcia całego wybranego przez siebie obiektu (pustego kwartału lub budynku) na mapie interaktywnej, poprzez podlinkowanie tam swojej działalności (bloga, galerii sztuki, radia internetowego, klubu dyskusyjnego itp.) <br />
        wirtualnego przyjęcia do zajętego przez siebie obiektu (pustego kwartału lub budynku) na mapie interaktywnej dowolnej ilości osób/organizacji (niekoniecznie uczestników Gry o Stocznię) wraz z ich wirtualnymi działalnościami (blog, galeria sztuki, radio internetowe, klub dyskusyjny itp.) <br />
        opiniowania oraz współdecydowania o całym procesie Gry o Stocznię w ramach wspólnych działań Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia </p>
        <p> Honorowa Rada Kolonii Gdańsk-Stocznia składa się ze wszystkich Honorowych Obywateli Kolonii Gdańsk-Stocznia (co najmniej dwójki) i jest ciałem opinio-twórczym/dawczym oraz decyzyjnym w zakresie całego procesu Gry o Stocznię, w tym w szczególności: </p>
        <p class="wyliczenia">przyjmowania nowych członków w skład Honorowej Rady Kolonii Gdańsk-Stocznia (spośród aktywnych Kolonistów, jak również osób nie uczestniczących wprost w Grze o Stocznię) <br />
        promowania i akceptowania ciekawych pomysłów prezentowanych w Grze o Stocznię poprzez ich opiniowanie, jak również podejmowanie wspólnych decyzji o wprowadzeniu zmian w procesie Gry o Stocznię (na tablicach postulatów i/lub na mapach interaktywnych oraz w zasadach gry) wynikających z sensu danego pomysłu <br />
        wykluczenia ze swojego składu osób/organizacji, które działają na szkodę procesu Gry o Stocznię <br />
        reprezentowania wszystkich Kolonistów (w tym Obywateli) w procesie Gry o Stocznię, jak również na zewnątrz, w zakresie komunikowania opinii i decyzji wspólnych dla całej Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia</p>
        <p> Opinie i decyzje Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia uznawane są za wspólne i wiążące pod warunkiem braku sprzeciwu któregokolwiek z Honorowych Obywateli (za wyjątkiem objętych procesem wykluczenia) <br />
        Aktualny skład Honorowej Rady Obywateli Kolonii Gdańsk-Stocznia znajduje się w aktywnym polu <em style="font-style: normal;text-decoration: underline"> Kolonia Gdańsk-Stocznia </em> </p>
        <h4>3. PROCESS </h4>
        <p>Dialogiczna kolonizacja Stoczni będzie rozgrywana w polach; <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> i <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> (oraz HANSA dla anglojęzycznych uczestników). Każde z tych pól zostało wyposażone w tablicę (do zgłaszania postulatów) oraz na mapę interaktywną (do generowania wiedzy o istniejących i/lub projektowanych kwartałach urbanistycznych i/lub budynkach).
        Postulaty w polu <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> powinny odpowiadać na pytanie: CO jest kulturowym dziedzictwem Stoczni Gdańskiej, które należy zachować i rozwijać? <br /><br />
        Postulaty w polu <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> powinny odpowiadać na pytanie: JAK należy chronić i przekształcać kulturowe dziedzictwo Stoczni Gdańskiej? <br /><br />
        Na mapie interaktywnej w polu <em style="font-style: normal;text-decoration: underline"> PRZESZŁOŚĆ </em> będzie generowana społeczna wiedza o historii i kulturowym dziedzictwie poszczególnych po-stoczniowych obiektów <br /> <br />
        Na mapie interaktywnej w polu <em style="font-style: normal;text-decoration: underline"> PRZYSZŁOŚĆ </em> będzie generowana społeczna wiedza o sposobach przekształceń tych po-stoczniowych obiektów z poszanowaniem i ochroną wartości ich kulturowego dziedzictwa <br /><br />
        <em style="color: #303030;font-style: normal"> Treści prezentowane przez Kolonistów w Grze o Stocznię powinny być zgodne z ich opiniami - <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> nie ponosi za nie odpowiedzialności </em> </p>
        <h4> PUNKTACJA I RYWALIZACJA </h4>
        <p> W Grze o Stocznię, wypowiedzi Uczestników mogą mieć następującą formę (wraz z odpowiednią punktacją): <br /> </p>
        <p class="wyliczenia"> postulatu zgłoszonego na tablicy wraz z wyjaśnieniem w postaci tekstu i/lub załączników graficznych (40 punktów) <br />
        informacji (w tym koncepcji) dotyczącej konkretnego obiektu na interaktywnej mapie (40 punktów) <br />
        komentarza do wypowiedzi innego Uczestnika w postaci tekstu i/lub załączników graficznych wraz z ikonką „Victoria” lub „kciuka dołowego” (10 punktów) <br />
        kliknięcia ikonki „Victoria” lub „kciuk dołujący”(2 punkty) </p>
        <p>W Grze o Stocznię możliwe są dwa typy komentarzy: <br /> </p>
        <p class="wyliczenia">pozytywny – akceptujący, popierający/wspierający wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „Victoria” lub sama „Victoria”) 
        negatywny – negujący i krytykujący wybraną wypowiedź (tekst uzupełniony kliknięciem ikonki „kciuk dołujący” lub sam „kciuk dołujący”)  </p>
        <p>Uczestnicy Gry o Stocznię będą zdobywać punkty na trzy sposoby: </p>
        <p class="wyliczenia">za swoje wypowiedzi (postulaty i/lub informacje/koncepcje – po 40 punktów za każdą wypowiedź <br />
        za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników – po 10 punktów za każdy komentarz (tekstowo-graficzny) i po 2 punkty za każdy komentarz w postaci „Victorii” i „kciuka dołującego” <br />
        za pozytywne komentarze innych Uczestników do swoich wypowiedzi – po 10 punktów za każdy pozytywny komentarz (tekstowo-graficzny) i po 2 punkty za każdy komentarz w postaci „Victorii”  </p>
        <p>Uczestnicy Gry o Stocznię będą tracić punkty za każdy negatywny komentarz innych Uczestników do swoich wypowiedzi – po 10 punktów za każdy negatywny komentarz (tekstowo-graficzny) i po 2 punkty za każdy negatywny komentarz w postaci „kciuka dołującego”
        Łączna ilość punktów zdobytych przez danego Uczestnika Gry o Stocznię (w danym momencie) będzie sumą punktów za swoje wypowiedzi (postulaty i/lub informacje/koncepcje) oraz za swoje komentarze (pozytywne i negatywne) do wypowiedzi innych Uczestników, jak również za pozytywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „Victorii”) – minus punkty za negatywne komentarze innych Uczestników do swoich wypowiedzi (oznaczone za pomocą „kciuk dołujący”). <br />
        Treści wypowiedzi Uczestników Gry o Stocznię (zarówno w formie tekstowej, jak i graficznej itp.) są traktowane jak ich dzieła/utwory i chronione Ustawą o prawie autorskim i prawach pokrewnych, z dnia 4 lutego 1994 roku. <br />
        Zamierzenia (Postulaty i pomysły z mapy „Przyszłość”) zgłaszane przez Kolonistów będą pozycjonowane (malejąco) według ilości zdobytych punktów (za komentarze). 
        Pierwsze 21 Postulatów (10 z tablicy „Przeszłość” + 11 z tablicy „Przyszłość”) utworzy Strategiczną Wizję Ochrony i Przekształceń (SWOP) terenów dawnej Stoczni Gdańskiej, natomiast 21 pomysłów z mapy „Przyszłość” utworzy Strategiczny Program Ochrony i Przekształceń (SPOP) terenów dawnej Stoczni Gdańskiej. <br />
        Decyzję o wyłączeniu 21 Zamierzeń (21 Postulatów oraz 21 pomysłów z mapy „Przyszłość”) podejmie <em style="font-style:normal; text-decoration: underline"> Honorowa Rada Obywateli Kolonii Gdańsk-Stocznia </em> w terminie nie krótszym niż 365 dni od rozpoczęcia publicznego procesu Gry o Stocznię.  <br /></p>
        <h4> UWARUNKOWANIA TECHNICZNE i ORGANIZACYJNE </h4> <br />
        <p>
        Gra o Stocznię wymaga posiadania konta e-mail oraz dostępu do Internetu, włącznie z programem służącym do przeglądania jej zasobów, akceptującym pliki typu cookies. Korzystanie z oprogramowania typu Adblock Plus lub Flashblock może spowodować nieprawidłowe funkcjonowanie Gry lub całkowicie ją uniemożliwić
        <br />
        Każdy Uczestnik Gry o  Stocznię wyraża zgodę na używanie plików cookies (w przeciwnym razie powinien je zablokować w ustawieniach swojej przeglądarki)
        <br />
        W Grze o Stocznię zabronione jest wykorzystywanie wirusów, botów, robaków bądź innych kodów komputerowych, plików lub programów działających na szkodę procesu komunikacji 
        <br />
        Każdy Kolonista ma prawo wglądu oraz modyfikacji swoich danych osobowych podanych podczas rejestracji
        <br />
        Koloniści wyrażają zgodę na wykorzystanie danych zawartych w formularzu rejestracyjnym do celów Gry o Stocznię (zgodnie z aktualnie obowiązującą Ustawą o ochronie danych osobowych). Dane (osobowe, adresowe itp.) kolonistów nie będą nikomu udostępniane/sprzedawane. 
        <br />
        Dane osobowe podane przez Uczestnika Gry o Stocznię są jawne i dostępne dla pozostałych Uczestników. W związku z nie ma możliwości zabezpieczenia Kolonistów przed wykorzystaniem tych danych przez osoby prywatne lub firmy, do przesłania im niepożądanych informacji (i niezgodnych z Zasadami Gry o Stocznię). 
        <br />
        <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> czuwa nad prawidłowym przebiegiem dialogicznej kolonizacji Stoczni Gdańskiej i posiada to tego następujące prawa: </p>
        <p class="wyliczenia">usuwania treści (lub odnośników do nich) uznawanych powszechnie za wulgarne lub obraźliwe, sprzecznych z obowiązującymi przepisami prawa, w tym również utworów, których udostępnienie (lub umożliwienie) udostępnienia narusza (lub może naruszać) prawa autorskie osób trzecich (jak np. licencjonowanych gier, programów komputerowych, muzyki, filmów itp.) oraz zawierających obiekty (wirusy, pliki itp.) mogące wpływać niekorzystnie na funkcjonowanie Gry o Stocznię
        <br />
        wyeliminowania z Gry o Stocznię  każdego Kolonisty, który złamie niniejsze Zasady Gry o Stocznię oraz którego działania są sprzeczne z dobrymi obyczajami i szkodliwe dla Gry o Stocznię (w tym również innych Kolonistów)  <br /></p>
        <p>Treści niniejszych Zasad Gry o Stocznię mogą być zmieniane przez Radę Obywateli Kolonii Gdańsk-Stocznia, za zgodą (przy braku sprzeciwu) Rady Honorowych Obywateli Kolonii Gdańsk-Stocznia.<br /><br /> </p>


        <p>Życzę przyjemnej i owocnej kolonizacji dawnej PRZESTRZENI Stoczni Gdańskiej.
        <br /><br />
        <em style="font-style: normal;text-decoration: underline"> Człowiek ze Stoczni </em> </p>
      </div>
    </div>
        
    <!--<footer id="sentence_bottom">
      <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('/images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;">WYLOGUJ</a>  -->
    
    </footer>

</body>

</html>