<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>
    </head>
    <body>

    <style>
    
    </style>

        <div class="row" style="padding: 1%">
            <div class="large-12 medium-12 small-12 columns" id="tloStoczniowiec">
                <p class="stoczniowiec"> Ludzie <em class="stoczniowiec" style="font-family: Helvetica, sans-serif; font-weight: 900;">!</em>
                <em class="stoczniowiec" style="float: right"> <em class="light_dark_red">Gdańsk </em>, 14 września 2015 roku </em> </p>
                
                <br />
                <p class="stoczniowiec">
                Jestem zaniepokojony niszczeniem dziedzictwa Stoczni Gdańskiej, miejsca narodzin naszej wolności. Chciałbym pomóc w stworzeniu takiej wizji rozwoju tego sławnego miejsca, która w inteligentnie zrównoważony sposób połączy ludzkie marzenia i pragnienia o szczęśliwym życiu w mieście, z refleksją nad przeszłością i ochroną jej najważniejszych świadectw, poprzez twórcze wykorzystanie ich w nowej tkance miasta i jego procesach życiowych.
                <br /><br />
                Jako człowiek ze Stoczni, proszę każdego zainteresowanego przeszłością i przyszłością tego miejsca – PODZIEL SIĘ tutaj swoją wiedzą i marzeniami!!!
                <br /><br />
                Niech nasze nowe 21 postulatów pozytywnie zmieni oblicze tej PRZESTRZENI, tak jak 35 lat temu!
                <br /><br />
                Niech rzetelna wiedza i wspólne marzenia staną się fundamentem wspaniałego rozwoju tego sławnego na całym świecie miejsca narodzin i zwycięstwa wolności!!!
                <br /><br /><br /> </p>
                <div class="row">
                    <div class="large-4 small-4 columns">
                    <p class="stoczniowiec"> Niech żyje <img src="images/layout_addons/solidarnosc.png" style="max-width: 60%; max-height: 40%;vertical-align:middle" /> </p>
                    </div>
                    <div class="large-4 small-4 columns">
                        <p class="stoczniowiec light_dark_red" style="font-size: 1.2rem;"> zwyciężymy!!! </p>
                    </div>
                    <div class="large-4 small-4 columns">
                        <p class="stoczniowiec light_dark_red" style=""> Człowiek ze Stoczni
                        <img src="images/layout_addons/like.png" style="max-width: 20%;max-height: 40%;vertical-align:middle"/>  </p>
                    </div>

                </div>
                
                
                
                

            </div>
        </div>
    </body>

</html>