<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>
    </head>

    <style>
        p{
            color: black;
            font-family: 'stocznia_body', Helvetica, sans-serif;
        }
    </style>
    <body>

        <div class="row" style="padding: 1%">
            <div class="large-12 medium-12 small-12 columns" id="tlo_tekst">
            <p style="text-align: right"> Gdańsk, 1 sierpnia 2015 roku </p>
            <p> Ludzie! </p>
            <br />
            <p> Jestem zwykłym Stoczniowcem. Kiedyś, na terenie Stoczni Gdańskiej, odkryłem jakieś niebezpieczne substancje, co dało mi siłę do walki z totalnym systemem o wolność i pozytywne zmiany. Wsparłem walczących robotników przed wojskiem w grudniu 1970 roku. Chroniłem ich również w  sierpniu 10 lat później. Obaliłem Mur Berliński, a w końcu ostatnią bazę Komunizmu na Księżycu. Byłem zmęczony, ale czułem, że niebezpieczne substancje są wciąż aktywne… Dlatego nie mogę i nie chcę się ujawnić.
            <br /><br />
            Jestem zaniepokojony niszczeniem dziedzictwa Stoczni Gdańskiej, miejsca narodzin naszej wolności. Chciałbym pomóc w stworzeniu takiej wizji rozwoju tego sławnego miejsca, która w inteligentnie zrównoważony sposób połączy ludzkie marzenia i pragnienia o szczęśliwym życiu w mieście, z refleksją nad przeszłością i ochroną jej najważniejszych świadectw, poprzez twórcze wykorzystanie ich w nowej tkance miasta i jego procesach życiowych.
            <br /><br />
            Jako człowiek ze Stoczni, proszę każdego zainteresowanego przeszłością i przyszłością tego miejsca – PODZIEL SIĘ tutaj swoją wiedzą i marzeniami!!!
            <br /><br />
            Niech nasze nowe 21 postulatów pozytywnie zmieni oblicze tej PRZESTRZENI, tak jak 35 lat temu!
            <br /><br />
            Niech rzetelna wiedza i wspólne marzenia staną się fundamentem wspaniałego rozwoju tego sławnego na całym świecie miejsca narodzin i zwycięstwa wolności!!!
            <br /><br /><br />
            Niech żyje <img src="images/layout_addons/solidarnosc.jpg" style="max-width: 15%" />
            <br /><br /><br />
            Człowiek ze Stoczni </p>






            </div>
        </div>
       <!--  <footer id="sentence_bottom">
            <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('/images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;">WYLOGUJ</a>  -->
        </footer>
    </body>

</html>