<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title> <%= title %> </title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
    </head>
    <body>
    <style>
        #vote_up{
            background: url('/images/layout_addons/like<%=vote_up%>.png');
            background-size: 100% 100%;
            height: 4em;
            width: auto;
            border: none;
        }

        #vote_down{
            background: url('/images/layout_addons/dislike<%=vote_down%>.png');
            background-size: 100% 100%;
            height: 4em;
            width: auto;
            border: none;
        }

        #vote_up_kom{
            background: url('/images/layout_addons/like.png');
            background-size: 80% 80%;
            background-repeat: no-repeat;
            height: 3em;
            width: auto;
            border: none;
        }

        #vote_down_kom{
            background: url('/images/layout_addons/dislike.png');
            background-size: 80% 80%;
            background-repeat: no-repeat;
            height: 3em;
            width: auto;
            border: none;

        }
        img.display {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <script> 
  /*     $(window).load(function(){
$('.hiden').each(function(){
  
});
});*/

function myAwesomeFunc(){
  //
var sorttiger=0;  
  function getCaret(el) {
  if (el.selectionStart) {
     return el.selectionStart;
  } else if (document.selection) {
     el.focus();

   var r = document.selection.createRange();
   if (r == null) {
    return 0;
   }

    var re = el.createTextRange(),
    rc = re.duplicate();
    re.moveToBookmark(r.getBookmark());
    rc.setEndPoint('EndToStart', re);

    return rc.text.length;
  }  
  return 0;
}

  $("#comment_text").keypress(function(event) {
   if (event.which == 13 && !event.shiftKey) {
        event.preventDefault();
        $("form").submit();
    }
    if (event.which == 13 && event.shiftKey) {
       var content = this.value;
       var caret = getCaret(this);
       this.value = content.substring(0,caret) +content.substring(caret,content.length);
       event.stopPropagation();

  }
  
  });

$("#dodaj_komentarz").hide();
  $('.hiden').each(function(){
    $("div .hiden").hide();
   
});
 $('.hidenlevel').each(function(){
$("div .hidenlevel").hide();
});



 $('#sortuj').each(function(){
 if(sorttiger===0){
 $('#sotruj').hide();
}
});
$("#sortuj1").click("click", function() {
 $('#sotruj1').hide();
    sorttiger=1;
    $("#sortuj").show();
 
});
$("#sortuj").click("click", function() {
    $('#sotruj').hide();
    sorttiger=0;
    $("#sortuj1").show();
});



$(".klasa").click("click", function() {
        var klasa = "";
        var identyfikator = "";
        
        if ($(this).attr("class") != null) {
            klasa = $(this).attr("class");
        }
        
        if ($(this).attr("id") != null) {
            identyfikator = $(this).attr("id");
            $('#a'+identyfikator).toggle();
            //alert($(this).text() + " " + klasa + identyfikator);
        }
        
    });
var tiger=0;
$("#ukryj_dodaj_komentarz").click("click", function() {$("#dodaj_komentarz").toggle();});
$(".klasa1").click("click", function() {
        var klasa = "";
        var identyfikator = "";
        
        if ($(this).attr("class") != null) {
            klasa = $(this).attr("class");
        }
        
        if ($(this).attr("id") != null) {
            identyfikator = $(this).attr("id");
            $('div #p'+identyfikator).each(function(){
              if( tiger===0){
               $('div #p'+identyfikator).show();
               
               }else{if( tiger===1){
                $('div #p'+identyfikator).hide();
               }
               }
            });
            if(tiger===0){tiger=1;}else{tiger=0;}
            
;
        
        }
        
    });
}
window.onload = myAwesomeFunc;
           /* $(document).ready(function(){
    
        
    });
    $(document).ready(function() {*/
 /*   
    function loadImage() {
    
    
}*/
    
    </script>
        <!-- menu górne
        <div id="pasek">
        <div class="contain-to-grid">
            <ul class="button-group even-3">
                <li><a href="/przeszlosc" class="button secondary">PRZESZŁOŚĆ</a></li>
                <li><a href="/" class="button secondary">KOLONIA</a></li>
                <li><a href="/przyszlosc" class="button secondary">PRZYSZŁOŚĆ</a></li>
            </ul>
        </div>
        </div>-->
<!--naglowek-->
<div class="row">
            <div class="contain-to-grid">
                <div class="fixed">
                    <ul class="button-group even-3">
                        <a id="head_przeszlosc_button" href="/przeszlosc"></a>
                        <a id="head_kolonia_button" href="/"></a>
                        <a id="head_przyszlosc_button" href="/przyszlosc"></a>
                    </ul>
                </div>
            </div>
        </div>
<div id="headerwidth"></div> 

</br>
</br>
</br>

<div class='row' style="height: 100%">
    <div class='large-5 push-1 columns' style="height: 100%;background: url('/images/layout/tablica_background.png')">
        <div class="row">
            <div class="large-8 columns"><h3 style="font-family: 'stocznia_body', Helvetica, sans-serif;color: black"> TABLICA POSTULATÓW</h3></div>
            <div class="large-4 columns"> <br><button style="background: url('/images/layout_addons/dodaj_postulat.png');background-size: 100% 100%; width: 100%; border: none" id="napisz_postulat_btn"></button>  </div>
        </div>
        <div id="tablica_postulatow" style="height: 50%; overflow-y: auto">
            <div class="row" id="wykujPostulat"  style="width: 100%"> 
                <div class="large-10 columns">
                    <div style="width: 100%">
                      <form method="post" action="/multiupload" enctype="multipart/form-data" class="dodawaniePostow" style="margin: 2% 0 0 2%">
                            <input type='text' placeholder="Wpisz tytuł posta" name='tytul'/>
                            <textarea name="tresc" cols="10" rows="10"  placeholder="Dodaj swój opis"></textarea>
                              <input type="file" name="upload" multiple="multiple"><br>
                            <input type='submit' />
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="large-12 columns">
                    <% if(postulaty.length){ 
                              
                        for(var i = postulaty.length-1;i >=0;i--) { %>
               <!--   <p class="naglowek_postu"> <a href="/przeszlosc/451"> <%= postulaty[i].tytul%> </a></p>-->
                            <p class="naglowek_postu"> <a href="/przeszlosc/<%=postulaty[i].id%>" class="postulat black"> <%= postulaty[i].tytul%> </a></p> 
                      <!--    <p class="naglowek_postu"> <a href="/przeszlosc/<%=i%>"> <%= postulaty[i].tytul%> </a></p>-->
                        <% } %>
                
                    <% } %>
                </div>
            </div>
            

            
        </div>

        
    </div>

 <div class="large-5 pull-1 columns" style="height: 100%;right:8%;background: url('/images/layout/tablica_background.png')">
        <div class="post" >
            <% if(tiger){  %>
            <!--tresc gowna postulatu-->
            <h3  class="tytul white" id="tytul_postu"> <%= postulaty2[0].tytul %> </h4>
            <p id="tresc_postu"> <%= postulaty2[0].tresc %> </p>
           
            
 <% if(postulaty1.length){
                    for(var i = postulaty1.length-1;i >=0;i--) { %>
                        <%if( postulaty1[i].rozszerzenie==="jpg"||postulaty1[i].rozszerzenie==="png" ){%>
                         <img class="display" src="<%=postulaty1[i].pathfile%>"    width="500" heigth="500" alt="Błąd" />
                        <%}else{ %>
                        <p class="zalaczniki"> <a href="<%=postulaty1[i].pathfile%>"> <%=postulaty1[i].name_pic%></a></p><%}%>
                      
                    <% } %>
                <% } %>  

            <img style="display: inline" src="<%=postulaty2[0].profilowe%>" class="display" width="100" heigth="100" alt="brak zdjęcia" />
 <p style="display: inline" class="tytul white" id="tworca_postu"><%= postulaty2[0].imie %> <%= postulaty2[0].nazwisko %> <%=postulaty2[0].czas_dodania%></p>            

            <form style="display:inline;color: white" action="/vote_up/<%=capfile%>/past_post/<%=capfile%>" method="post"> <p style="display: inline"> <%=vote_up_count%> </p> <button class="vote" id="vote_up" ></button> </form>
            <form style="display: inline; color: white" action="/vote_down/<%=capfile%>/past_post/<%=capfile%>" method="post"> <button class="vote" id="vote_down"></button> <p style="display: inline"> <%=vote_down_count%> </p> </form>
            <p style="font-size: 0.8rem;display: inline"> Komentarze pozytywne : <%=comments_count[0].ilosc %>,negatywne: <%=comments_count[1].ilosc%> </p>

                <p id="sortuj"> <a  href="/przeszlosc/<%=postulaty2[0].id%>" > sortuj  </a></p> 
                 <p id="sortuj1"> <a id="sortuj1" href="/przeszlosc1/<%=postulaty2[0].id%>" > sortuj1  </a></p> 
               <!--zalaczniki do golownego postulatu--> 
               
                <p id="ukryj_dodaj_komentarz">dodaj komentarz</p>
            </div>
            <div id="dodaj_komentarz" style="width: 100%;margin-bottom: 15%">
                <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow" style="margin: 2% 0 0 2%">
                    <input type="hidden" name="ukryte" value="<%=capfile%>" />
                    <select name="comment_type">
                        <option value="1"> Pozytywny </option>
                        <option value="0"> Neutralny </option>
                        <option value="-1"> Negatywny </option>
                    </select>
                    <textarea id="comment_text" name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
                    <input type="file" name="upload" multiple="multiple"><br>
                    <input type="hidden" name="ukryte" value="<%=capfile%>" />
                    <input id="comment_submit" type='submit' style="display: none"/>
                </form>
            </div>       




                <!--tresc pierwszych komentarzy--> 
                <%if(postulaty3.length){
                     
                    for(var i=postulaty3.length-1;i>=0;i--){ %>
                 <% if(postulaty3[i].id_parent===null){%>
                  <div class="prostokat"  style="width: 100%; ">
                    <!-- usuwanie postu   background-color:rgba(224, 212, 177,0.3);-->
                    <%if(huj===postulaty3[i].nick){%>
                    <p id="tresc_postu" style="float: right">  <a href="/cos/<%=postulaty3[i].IdKomentarzu%>"> delete </a></p> 
                    <%}%>
                  <!--    jako ze mamy w petli niestety id sie krzaczy    -->
                    
                    <p id="tworca_postu" ><%= postulaty3[i].imie %><%= postulaty3[i].nazwisko %> </p>
                    <p id="tresc_postu"> <%= postulaty3[i].tresc %> </p>
                                        
                   
                  <div class="prostokat" style="width: 100%;">
                     <!--zalaczniki do pierwszych komentarzy  background-color:rgba(255,100,100,0.2); --> 
                    <% if(postulaty4.length){
                    for(var j = postulaty4.length-1;j >=0;j--) { %>
                       <%if( postulaty4[j].idpost_kom === postulaty3[i].IdKomentarzu){%>
                        <!--<p class="zalaczniki"> <a href="<%=postulaty4[j].pathfile_kom%>"> <%=postulaty4[j].pathfile_kom%></a></p>-->

                        <%if( postulaty4[j].rozszerzenie==="jpg"||postulaty4[j].rozszerzenie==="png" ){%>
                         <img src="<%=postulaty4[j].pathfile_kom%>"   class="display"  width="500" heigth="500" alt="Błąd" />
                        <%}else{ %>
                        <p class="zalaczniki"> <a href="<%=postulaty4[j].pathfile_kom%>"> <%=postulaty4[j].name_pic%></a></p><%}%>

                        <%}%>
                        
                    <% } %>
                <% } %> 

                </div>
                
                <!--przyciski pierwszego poziomu-->
           <button class="klasa" id="<%=postulaty3[i].IdKomentarzu%>">odpowiedz</button>
           <button class="klasa1" id="<%=postulaty3[i].IdKomentarzu%>">( + )</button>
           <form style="display:inline;color: white" action="/vote_up/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>" method="post"><button class="vote" id="vote_up_kom" ></button> </form>
            <form style="display: inline; color: white" action="/vote_down/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>" method="post"> <button class="vote" id="vote_down_kom"></button></form>
            <p> Pozytywne: <%=postulaty3[i].ilosc_like%>, Negatywne: <%= postulaty3[i].ilosc_dislike %> </p>
            <!--formularz odpowiedz do pierwszego poziomu-->
            <div class="hiden" id="a<%=postulaty3[i].IdKomentarzu%>"  style="width: 100%">
                <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow"  style="margin: 2% 0 0 2%">
                    <input type="hidden" name="ukryte" value="<%=capfile%>" />
                    <input type="hidden" name="ukryteID" value="<%=postulaty3[i].IdKomentarzu%>" />
                    <select name="comment_type">
                        <option value="1"> Pozytywny </option>
                        <option value="0"> Neutralny </option>
                        <option value="-1"> Negatywny </option>
                    </select>
                    <textarea name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
                    <input type="file" name="upload" multiple="multiple"/><br>
                  

                    <input type='submit' />
                </form>
            </div>  
            </div>    
            <!-- DRUGI POZIOM-->

           <% for (var j=postulaty3.length-1;j>=0;j--){%>
                <%if(postulaty3[j].id_parent=== postulaty3[i].IdKomentarzu){ %> 
                <div class="hidenlevel" id="p<%=postulaty3[j].id_parent%>">
                <%if(huj===postulaty3[j].nick){%>
                    <p id="tresc_postu" style="float: right">  <a href="/cos/<%=postulaty3[j].IdKomentarzu%>"> delete </a></p> 
                    <%}%>
                    <p id="tworca_postu"  style="left:20px"><%= postulaty3[j].imie %><%= postulaty3[j].nazwisko %> </p>
                    <p id="tresc_postu" style="left:20px"> <%= postulaty3[j].tresc %> </p>
                    <% if(postulaty4.length){
                        for(var h = postulaty4.length-1;h >=0;h--) { %>
                            <%if( postulaty4[h].idpost_kom === postulaty3[j].IdKomentarzu){%>
                              
                             <%if( postulaty4[h].rozszerzenie==="jpg"||postulaty4[h].rozszerzenie==="png" ){%>
                                <img src="<%=postulaty4[h].pathfile_kom%>" class="display"    width="500" heigth="500" alt="Błąd" />
                            <%}else{ %>
                             <p class="zalaczniki" style="left:20px"> <a href="<%=postulaty4[h].pathfile_kom%>"> <%=postulaty4[h].name_pic%></a></p><%}%>
                            <%}%>
                        <% } %>
                    <% } %> 

                </div>


            <%}%>
            <%}%>


            <!--koniec drugiego poziomu-->

            <%}%>
            <%}%>
            <%}%>
        <!--dodawanie komantarza do glownego postulatu-->
        
        <!--    <div id="dodaj_komentarz" style="width: 100%;margin-bottom: 15%">
                <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow" style="margin: 2% 0 0 2%">
                    <input type="hidden" name="ukryte" value="<%=capfile%>" />
                    <select name="comment_type">
                        <option value="1"> Pozytywny </option>
                        <option value="0"> Neutralny </option>
                        <option value="-1"> Negatywny </option>
                    </select>
                    <textarea id="comment_text" name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
                    <input type="file" name="upload" multiple="multiple"><br>
                    <input type="hidden" name="ukryte" value="<%=capfile%>" />
                    <input id="comment_submit" type='submit' style="display: none"/>
                </form>
            </div>       
           -->
           
        <!-- tresc dla /przeszlosc-->
     <%    }else{%> 
                <h3 id="tytul_postu" class="tytul white"> Witamy w przeszłości </h3>
                <h4 id="tresc_postu" class="tytul white">Wybierz postulat albo wykuj swój własny </h4>
            <%}%>
            
                
                

        </div>
    </div>
</div>

        <footer id="sentence_bottom">
    <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('/images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;">WYLOGUJ</a>     
    </body>

</html>