<!--tresc pierwszych komentarzy--> 
<%if(postulaty3.length){
  for(var i=postulaty3.length-1;i>=0;i--){ %>
  <% if(postulaty3[i].id_parent===null){%>
  <!-- usuwanie postu -->
  
  <%if(idcookies==321){%>
  <a href="/delete/<%=postulaty3[i].IdKomentarzu%>"><img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" />  <p></p></a>
  <%}
  else{%>
  <form action="/send/<%=strona%>/<%=capfile%>/<%=postulaty3[i].IdKomentarzu%>" class="test_form" style=" float:right " method="post"> <input type="hidden" name="delete_message" class="message" value=""/><button class="postulat white" style="border:none; background: none; margin:0;padding: 0"><img class="icon" src="/images/layout_addons/smietniczek_vectorized.png" ></button></form>
  <!--
 <a href="/send/<%=postulaty3[i].id%>" class="postulat black"> <img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" >   <span style="color:white"><span> </img></a>-->
  <%}%>
  
  <p class="tresc_postu tytul black"> <%= postulaty3[i].tresc %> </p>                    
  <div style="width: 100%;">
   <!--zalaczniki do pierwszych komentarzy --> 
      <% if(postulaty4.length){
          for(var j = postulaty4.length-1;j >=0;j--) { %>
              <%if( postulaty4[j].idpost_kom === postulaty3[i].IdKomentarzu){%>
                  <%if( postulaty4[j].rozszerzenie==="jpg"||postulaty4[j].rozszerzenie==="png"||postulaty4[j].rozszerzenie==="JPG"||postulaty4[j].rozszerzenie==="PNG"){%>
                      <img src="<%=postulaty4[j].pathfile_kom%>"   class="display"  width="90%" heigth="auto" alt="Błąd" style="margin-bottom: 5%;"/>
                  <%}else{ %>
                      <p class="zalaczniki"> <a href="<%=postulaty4[j].pathfile_kom%>"> <%=postulaty4[j].name_pic%></a></p><%}%>
                  <%}%>
          
              <% } %>
      <% } %> 
      <div style="background-color:rgba(255,255,255,0.5)">
        <div class="row"  style="height:55px">
          <div class="large-1 small-1 columns" style="">
           <a class="klasa1 iloscpodkom" style="color:black;vertical-align:middle;  padding-left: 10px;top: 9px;" id="<%=postulaty3[i].IdKomentarzu%>"><%=postulaty3[i].ilosc_podkomentarzy%>
            <img style="  width: 30px;" src="/images/ilosc.png" /></a>
          </div>
        <div class="large-5 small-5 columns " style=" float: left;">
          <div style="float:left;vertical-align:middle">
            <a href="/kolonisci/<%=postulaty3[i].nick%>"style="margin-left: 3%" > 
            <img style="display: inline" src="<%=postulaty3[i].profilowe%>" class="display" width="40px" heigth="auto" alt="brak zdjęcia" /></a>

          </div>
          <a href="/kolonisci/<%=postulaty3[i].nick%>"style="margin-left: 3%" > 
          <p style="display: inline;vertical-align:middle" class="users black" id="tworca_postu"><%= postulaty3[i].imie %> <%= postulaty3[i].nazwisko %> 
            </p></a>
        </div>
      <!--</div>-->
      <!--przyciski pierwszego poziomu-->
        <div class="large-1  small-1 columns"  >
          <span style="color:#800000;font-size:1.6rem"> <%=postulaty3[i].ilosc_like%></span>
          <form style="display:inline;color: white" action="/vote_up/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>/<%=strona%>" method="post"><button class="vote" style="margin-bottom:0px"  id="vote_up_kom1" ></button> </form>
        </div>
        <div class="large-1 small-1 columns" >
          <span style="color:black;font-size:1.6rem"><%= postulaty3[i].ilosc_dislike %></span>
          <form style="display: inline; color: white" action="/vote_down/<%=postulaty3[i].IdKomentarzu%>/past_kom/<%=capfile%>/<%=strona%>" method="post"> <button class="vote"  style="margin-bottom:0px" id="vote_down_kom1"></button></form>
        </div>
        <div class="large-4 small-4 columns" >
          <button class="klasa ukryj_dodaj_komentarz_przycisk_w_menu" style="min-width:30%;  margin-bottom: 0px;float: right;margin-right: 10px;;" id="<%=postulaty3[i].IdKomentarzu%>"> . .   .  . </button><p style="margin-right:5%;margin-bottom:0px;vertical-align:middle ;float:right"> z dnia <%=postulaty3[i].czas_dodania_kom%></p>
        </div>
      </div>
    </div>


    <!--formularz odpowiedz do pierwszego poziomu-->
    <div class="hiden" id="a<%=postulaty3[i].IdKomentarzu%>"  style="width: 100%">
        <form method="post" action="/multiuploadkomentarz" enctype="multipart/form-data" class="dodawaniePostow"  style="margin: 2% 0 0 2%">
            <input type="hidden" name="ukryte" value="<%=capfile%>" />
            <input type="hidden" name="strona" value="<%=strona%>" />
            <input type="hidden" name="ukryteID" value="<%=postulaty3[i].IdKomentarzu%>" />
            <input type="hidden" name="licznik" value="<%=postulaty3[i].ilosc_podkomentarzy%>">

            <textarea class="comment_text" name="tresc" cols="10" rows="5"  placeholder="Dodaj swój komentarz"></textarea>
            <div class="row">
                <div class="large-12 small-12 columns">
                    <p style="text-align: center; color: #800000"> Zaznacz proszę, czy jest to komentarz pozytywny, czy negatywny </p>
                </div>
            </div>
            <div class="row">
                <div class="large-4 small-6 columns">
                    <input style="display: inline" type="radio" name="comment_type" value="1" checked="checked" /> <span> Pozytywny </span>
                </div>
                <div class="large-4 small-6 columns">
                    <input style="display: inline" type="radio" name="comment_type" value="-1"/> <span> Negatywny </span> </br>
                </div>
                <div class="large-4 small-12 columns">
                  <label>
                    <input type="file" class="wybierz"  name="upload" multiple="multiple">
                  </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-12 columns" style="text-align: center">
                    <button  class="submit" style="margin: 3% 0 3% 0"> Publikuj </button> </br>
                    <p> Klikając "Publikuj" akceptujesz <a href="/reguly">zasady Gry o Stocznię </a> </p>
                </div> 
            </div>
        </form>
    </div>

    <!-- DRUGI POZIOM-->

    <% for (var j=postulaty3.length-1;j>=0;j--){%>
      <%if(postulaty3[j].id_parent=== postulaty3[i].IdKomentarzu){ %> 
        <div class="hidenlevel" id="p<%=postulaty3[j].id_parent%>" style="border-top-style: solid; border-top-color: black;padding-bottom: 0%">
            <%if(321==idcookies){%>
              <a href="/delete/<%=postulaty3[j].IdKomentarzu%>"><img class="icon1" src="/images/layout_addons/smietniczek_vectorized.png" ><p></p></img></a>
              <%}
            else{%>
              <form action="/delete/<%=postulaty[i].id%>" class="test_form" style=" float:right " method="post"> <input type="hidden" name="delete_message" class="message" value=""/><button class="postulat white" style="border:none; background: none; margin:0;padding: 0"><img class="icon" src="/images/layout_addons/smietniczek_vectorized.png" ></button></form>
            <%}%>
       
            
            <p class="tresc_postu tytul black"> <%= postulaty3[j].tresc %> </p>
            <% if(postulaty4.length){
                for(var h = postulaty4.length-1;h >=0;h--) { %>
                    <%if( postulaty4[h].idpost_kom === postulaty3[j].IdKomentarzu){%>
                      
                     <%if( postulaty4[h].rozszerzenie==="jpg"||postulaty4[h].rozszerzenie==="png"|| postulaty4[h].rozszerzenie==="JPG"||postulaty4[h].rozszerzenie==="PNG" ){%>
                        <img src="<%=postulaty4[h].pathfile_kom%>" class="display"    width="100%" heigth="auto" alt="Błąd" />
                    <%}else{ %>
                     <p class="zalaczniki" style="left:20px"> <a href="<%=postulaty4[h].pathfile_kom%>"> <%=postulaty4[h].name_pic%></a></p><%}%>
                    <%}%>
                <% } %>
            <%}%> 
            <a href="/kolonisci/<%=postulaty3[j].nick%>" > 
              <img style="display: inline" src="<%=postulaty3[j].profilowe%>" class="display" width="10%" heigth="auto" alt="brak zdjęcia" />
              <p style="display: inline" class="users black" id="tworca_postu"><%= postulaty3[j].imie %> <%= postulaty3[j].nazwisko %> <span style="margin-left: 10%"> <%=postulaty3[j].czas_dodania_kom%></span></p></a>
              <div style="float:right ">
                <span style="color:black"><%=postulaty3[j].ilosc_like%></span><form style="display:inline;color: white" action="/vote_up/<%=postulaty3[j].IdKomentarzu%>/kom/<%=capfile%>/<%=strona%>" method="post"><button class="vote" id="vote_up_kom" ></button> </form>
                <span style="color:#800000"><%= postulaty3[j].ilosc_dislike %></span><form style="display: inline; color: white" action="/vote_down/<%=postulaty3[j].IdKomentarzu%>/kom/<%=capfile%>/<%=strona%>" method="post"> <button class="vote" id="vote_down_kom"></button></form>
            </div>
        </div>
      <%}%>
    <%}%>  
  </div>
<%}%>
