<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/Zurb/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script  src='/javascripts/jquery-1.11.1.js'></script>       
        <script src='/javascripts/funkcje_ajax.js'></script>
        <!--tutaj mamy od crop-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/imgareaselect-default.css" />
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.imgareaselect.pack.js"></script>
<style>
</style>



</head>
<body>
    <!--<div class="row" style="margin-bottom: 6%">-->
    <div class="row" style="margin-bottom: 5%">
            <div class="contain-to-grid">
                <div class="fixed">
                    <ul class="button-group even-3">
                        <a id="head_przeszlosc_button" href="/forum/start_przeszlosc"></a>
                        <a id="head_kolonia_button" href="/kolonia" style='background: url("/images/layout/kolonia.png");background-size: 100%'></a>
                        <a id="head_przyszlosc_button" href="/forum/start_przyszlosc"></a>
                    </ul>
                </div>
            </div>
        </div>

    <div class="row" id="row_above_maps" style="height: 50%;">
        <div class="large-12 small-12 columns" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="large-4 small-4 columns " style="text-align: center;height: 100%; " onclick="javascript:location.href='/forum/start_przeszlosc'">
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                     <br>
                    <br>
                    <br>
                    <br>
                    <p class='kolonia_options black' style="display: block;text-align: center">LISTA POSTULATÓW</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> 
                     
                </div>
                
                <div class="large-4 small-4 columns" style="text-align: center;height: 100%;">
                    <br>
                    <br>  
                    <br>
                    <br>
                    <a class='kolonia_options dark_red' style="display: block;text-align: center" href="/aktualnosci"> AKTUALNOŚCI </a>
                    <a class='kolonia_options dark_red' style="display: block;text-align: center" href="/kolonisci"> KOLONIŚCI </a>
                    <a class='kolonia_options dark_red' style="display: block;text-align: center" href=""> OBYWATELE </a>
                    <a class='kolonia_options dark_red' style="display: block;text-align: center" href=""> HONOROWI OBYWATELE </a>
                  <br>
                    <br>
                </div>
                <div class="large-4 small-4 columns centered" style="text-align: center;height: 100%; " onclick="javascript:location.href='/forum/start_przyszlosc'">
                  <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p class='kolonia_options black' style="display: block;text-align: center">LISTA POSTULATÓW</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>   
                </div>
            </div>
        </div>
        <div class="large-12 small-12 columns">
            <div class="row" id="maps_row">
                <div class="large-4 small-4 columns" onclick="javascript:location.href='/forum/mapa_przeszlosc'" >
                   <br>
                   <br>
                   <br>
                    <br>
                    <br><p class='kolonia_options black' style="display: block;text-align: center">PRZESTRZEŃ</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> 
                   <!-- <button type="submit"  onclick="javascript:location.href='/forum/mapa_przeszlosc'" class="kolonia_button">MAPA</button>-->
                 
                </div>
                <div class="large-4 small-4 columns">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><p class='kolonia_options black' style="display: block;text-align: center">PRZESTRZEŃ</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>              
                </div>
                <div class="large-4 small-4 columns" onclick="javascript:location.href='/forum/mapa_przyszlosc'" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><p class='kolonia_options black' style="display: block;text-align: center">PRZESTRZEŃ</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>    
                </div>
            </div>
        </div>
    </div>
<footer id="sentence_bottom">
    <a id="wyloguj"href="/forget" style="width: 20.7%;position: fixed; bottom: 0; right: 0;background: url('images/layout_addons/wyloguj.png');background-size: contain;background-repeat: no-repeat;height:0; padding-top: 4.4%;">WYLOGUJ</a>
        <form  class="test_form" style="
    position: fixed;
    bottom: 0;
    right: 70%;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    z-index: 900;
    " > <input type="hidden" name="delete_message" class="message" value=""/><button class="postulat white" style="
    border:none; 
    background: none; 
    margin:0;
    padding: 0"><p style="
    font-family: 'stocznia_body', Helvetica, sans-serif;
    color: red;  
    font-size: 17px;
    font-weight:400;
    margin-bottom: -1rem;">ADMIN</p></button></form>

</footer>
</body>

</html>
