@font-face {
    font-family: 'stocznia_body';
    src: url('/fonts/Oswald-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stocznia_title';
    src: url('/fonts/Oswald-Stencil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
  height: 100%;
}
header, footer {
  height: 13%;
}
section {
  height: 87%;
}

body {
	background : url("/images/layout/background_small.jpg");
	background-size: 100% 100%;
  height: 100%;
	background-attachment: fixed;
	padding: 1% 10% 0 10%;
  font-family: 'stocznia_body';
}

section {
  padding-bottom: 13%;
}

footer { 
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -13%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.avatar {
    float: left;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.index-slider {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.subcomments-window {
  display: none;
}

#add-photo-input {
  display: none;
}

#add-photo-label {
  width: 100%;
  display: inline;
}

.line-footer {
    max-width: 100%;
    padding-bottom: 15px;
}

.user-icon-caption {
  font-size: 0.8vw;
  text-align: center;
  margin-left: 1em;
}

.graostocznie-logo-header {
	max-width: 73px;
  position: relative;
  left: 26px;
}

.footer-icon-bar {
  max-width: 6.8%;
  padding-right: 5px;
}
@media only screen and (max-width: 60.063em) {
	.footer-icon-bar {
  		min-width: 15%;
	}
} 

.nopadding {
	padding: 0;
}

.forum-header-icon {
  width: 40%;
}
button.add-like {
  background-color: transparent;
  border: none;
  padding: 0;
}
button.add-post-header-icon {
  width: 10%;
  background-color: transparent;
  border: none;
  padding: 0;
}

.post-title-text {
  font-size: 2.5vw;
  font-family: 'stocznia_title' !important;

}

.post-message-text {
  font-size: 1.4vw;
  font-family: 'stocznia_body';
}

.post-list-icon-1 {
  height: 5vh;
}

.post-list-icon-2 {
  height: 10vh;
}

button.add-post-header-icon img{
  width: 100%;
}

.add-post-header-icon {
  width: 10%;
  cursor: pointer;
}

.offset-half {
  margin-left: 4.666666%;
}

.dotted-block {
  border-bottom-style: dotted;
  color: white;
  padding-bottom: 1%;
}

.dotted-textarea {
  border-style: dotted;
  color: white;
  overflow: auto;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.post-list-block {
  border-bottom-style: dotted;
  color: white;
  margin-bottom: 10px;
}
.posts-write-title {
  border-style: dotted;
  color: white;
  margin-bottom: 10px;
  height: 10vh;
}

.posts-write-message {
  border-top-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  color: white;
  padding-bottom: 1%;
  height: 46vh;
}

.posts-title-textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.comment-block {
  border-top-style: dotted;
  padding-top: 10px;
}

.subcomments-block {
  display: none;
}

.comment-message {
  font-size: 1.3vw;
}
.transparent-textarea {
  border: none;
  overflow: auto;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.register-block input, textarea {
  margin-bottom: 4%;
}

.register-title  {
  margin-top: 10%;
}

.register-submit {
    background: url("/images/layout_addons/stworz_konto.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    min-height: 36.75px;
    min-width: 176px;
    margin-top: 10%;
    margin-bottom: 8%;
}

.margin-top-5 {
  margin-top: 15px;
}