/*.carousel-example-generic{
	width:100vw;
	height:100vh;
}*/
@font-face {
    font-family: 'stocznia_body';
    src: url('/fonts/body_+_nazwy_ulic/capture-smallz/Capsmall_clean.ttf') format('truetype');
    /*src: local('Capture Smallz');*/

}
@font-face {
    font-family: 'stocznia_important_links';
    src: url('/fonts/important_links/rafika/rafika.ttf') format('truetype');
    /*src: local('Rafika');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stocznia_users';
    src: url('/fonts/uzytkownicy/top_secret/top_secret.otf') format('truetype');
    /*src: local('Top Secret');*/
    font-weight: normal;
    font-style: normal;
}
.tlo2 p { 
	font-family: 'stocznia_body', Helvetica; color:black;
    text-shadow: none;
}
.tlo2 .carousel-caption p {
    line-height: 23px;
    font-size: 23px;
}

h3 { font-family: 'stocznia_important_links', Helvetica;}
body{	
overflow-y: hidden;
overflow-x: hidden;
}

.tlo1{
	height:100vh;
	background-image: url('../images/pierwszyEkran/tl.png');
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center center;

}
#log_div {
    position:absolute;background:rgba(0,0,0,0.7);width:50%;height:50%;margin-left:25%;padding:10%;z-index:100;
}
.hello {
  background-image: url('../images/pierwszyEkran/tlo1.jpg');
  background-size: auto 100%; width:100%;
  background-repeat:no-repeat;
  background-size:auto 100%;
  background-position: center center;
}

@media (max-width:600px){
    .tlo1{
    height:100vh;
    background-image: url('../images/pierwszyEkran/tlciemne.png');
    width:100%;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position: center center;

}
#log_div{
    position:absolute;background:rgba(0,0,0,0.9);width:100%;height:40%;margin-left:0%;padding:5%; z-index:100;
}
.hello {
  background-image: url('../images/pierwszyEkran/tlo1ciemne.jpg');
  background-size: auto 100%; width:100%;
  background-repeat:no-repeat;
  background-size:auto 100%;
  background-position: center center;
}
.bialetlo{
    background-color: white;
}
}

.tlo2{
	height:100vh;
	/*background-image: url('../images/pierwszyEkran/dwa_tlo.jpg');*/
	width:100%;
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position: center center;

}
.tlo3{
	height:100vh;
	background-image: url('../images/pierwszyEkran/tlo3.jpg');
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center center;

}
.tlo4{
	height:100vh;
	background-image: url('../images/pierwszyEkran/tlo4.jpg');
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center center;

}
.tlo5{
	height:100vh;
	background-image: url('../images/pierwszyEkran/tlo5.jpg');
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center center;

}
.tlo6{
	height:100vh;
	background-image: url('../images/pierwszyEkran/tlo6.jpg');
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center center;

}

.tlo2 .carousel-caption, .tlo3 .carousel-caption, .tlo4 .carousel-caption, .tlo5 .carousel-caption, .tlo6 .carousel-caption {
    right: 0%;
    left: 5%;
    text-align:left;
    padding-bottom: 5vh;

}
/*wyjątek*/
.tlo1 .carousel-caption {
    right: 0%;
    left: 0%;
    padding-bottom: 0px;
}
.tlo1 .carousel-caption .container{
    width:100%;
}


.tloButton p{
    font-family: 'stocznia_important_links', Helvetica;
    letter-spacing:1px;
}

@media (min-width:768px){
.tloButton{
background-image: url('../images/pierwszyEkran/buttontlo.png');
background-repeat:no-repeat;
background-position: center center;
background-size:100% 100%;
min-height: 80px;
}

.tloButton:hover{
background-image: url('../images/pierwszyEkran/buttontlohover.png');
background-repeat:no-repeat;
background-position: center center;
background-size:100% 100%;
min-height: 80px;
cursor:pointer;
}
}
@media (max-width:768px){ 
.tloButton{ text-shadow:3px 0px 1px black;
min-height: 40px;
}
.tloButton:hover{
min-height: 40px;
cursor:pointer;
}
}
@media (min-width:320px){

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -30px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    font-size: 60px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -30px;
}
.carousel-control {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
}

/*wyjątek dla pierwszego elementu*/
.tlo1 .carousel-control .glyphicon-chevron-left, .tlo1 .carousel-control .icon-prev {
    margin-left: -15x;
}
.tlo1 .carousel-control .glyphicon-chevron-left, .tlo1 .carousel-control .glyphicon-chevron-right, .tlo1 .carousel-control .icon-next, .tlo1 .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}
.tlo1 .carousel-control .glyphicon-chevron-right,.tlo1 .carousel-control .icon-next {
    margin-right: -15px;
}
.carousel-control {
    font-size: 10px;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
}
}


.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
    z-index: 30;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
    z-index: 30;
}
.carousel-caption h3{
line-height:50px;
font-size:50px;
font-style:bold;
}
.przerywnik{
	width:5%;
	border-width: 5px 0px 0px;
	border-style: solid none none;
}
.carousel-caption p{
line-height:80px;
font-size:25px;	
}

@media (min-width:200px) and (max-width: 768px){
.carousel-caption h3{
line-height:25px;
font-size:25px;
font-style:bold;
}
.przerywnik{
	width:80px;
	border-width: 5px 0px 0px;
	border-style: solid none none;
}
.carousel-caption p{
line-height:20px;
font-size:15px;	
}
}
.formSize{
    width:100px;
    position: relative;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    
}
.formSize:hover{
    -webkit-transform: scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}
.tlo2 .carousel-caption, .tlo3 .carousel-caption, .tlo4 .carousel-caption, .tlo5 .carousel-caption, .tlo6 .carousel-caption {
    right: 0%;
    left: 0%;
    text-align: left;
    padding-bottom: 0vh;
}
@media (max-width:1000px){
.hello {
	overflow: scroll !important;
}
}
p a {
	color:black;
}
p a:hover {
	color:red;
}
a:hover {
	color:red;
}
.carousel-control {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    background-image:url("../images/pierwszyEkran/buttontlo.png");
    
    opacity: 0.5;
    height: 15vh;
}

.carousel-control.right {
 background-image:url("../images/pierwszyEkran/buttontlo1.png");
    /*background-repeat: repeat-x;*/
    background-size: 100% 100%;
    z-index: 30;
}
.carousel-control.right:hover {
 background-image:url("../images/pierwszyEkran/buttontlohover1.png");
    /*background-repeat: repeat-x;*/
    background-size: 100% 100%;
    z-index: 30;
}
@media (max-width:768px){
.xstyle {
    width:50vw;
}
}