
#slider {
	padding-top: 15px;
	padding-bottom: 15px;
  border-image: url("/images/layout/slider-border.png");
}

.slider-container {
  position: relative;
}

.slider-container .slider-frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

#slides {
  display: none;
  width: 97%;
  position: relative;
  left: 1.5%;
}

.slider-container {
  margin: 0 auto;
}

@media (max-width: 767px) {
.slider-container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .slider-container {
    width: auto
  }
}

/* For larger displays */
@media (min-width: 768px) {
  .slider-container {
    width: 90%
  }
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  margin-top: 13px;
  background-image: url(/images/icons/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}